[2013-08-22 18:38] mcolyer opened #2 "Styling Proposal"
Currently we style the line numbers with colors but I feel like using the border on the left makes it more visible and we aren't using that side for any information yet.

![screen shot 2013-08-22 at 11 35 57 am](https://f.cloud.github.com/assets/1424/1011300/b532b5f0-0b59-11e3-9743-a3dd0390417e.png)

See https://github.com/atom/solarized-dark-syntax/blob/master/git-diff.less for markup (I love tha

[2013-08-23 02:28] #2 closed, assigned to nobody

[2014-02-27 11:34] kaluznyo opened #6 "View diff"
Don't know if it's already possible, But can we see the diff, inline ? Instead just lines changed ?

[2014-02-27 21:37] Fishrock123 opened #7 "Impossible to see in a light syntax theme."
[GitGutter's indicator icons](https://github.com/jisaacks/GitGutter#screenshot) are much clearer, even on a light background.
It would be great if `git-diff` would have that sort of option.

[2014-02-28 11:14] hkdobrev opened #8 "Start at the top/bottom when hit last change"
Similar to the way `n`/`N` work in Vim search and `less`. When hit the last change in the file, instead of a `beep` start at the top with a message in the status bar. And vice versa when hit the first change in the file start from the bottom with a message in the status bar.

[2014-03-06 18:27] corbanb opened #9 "Some repos don't show the diff"
This is more of a question than a bug right now. But when I open certain repos on my machine I don't see the diff coloring and in some I do. What would cause this to happen?

[2014-03-07 20:13] lunixbochs opened #10 "Highlight method doesn't play well with other packages"
If multiple packages use this method (adding a class that adjusts left-padding and sets a left border), only one is able to show their line highlight.

[2014-03-08 15:42] kevingriffin opened #11 "Submodules don't display updates"
Submodules (both those managed by their parent repository and those with a simple pointer) don't reflect their changes in the gutter with git-diff.

[2014-03-19 21:37] overvale opened #13 "not comparable with a .git file"
git allows you to create a `.git` **file** with the contents `git-dir: /path/to/repo` ([see here](http://git-scm.com/docs/gitrepository-layout)).

The sidebar file-highlighting and the gutter line-highlighting doesn't work with this repository layout.

[2014-03-20 17:55] #13 closed, assigned to nobody

[2014-03-21 00:37] #11 closed, assigned to nobody

[2014-03-21 14:32] eproxus opened #14 "Cannot be shown without line numbers"
The Git status gutter is not shown when line numbers are hidden.

[2014-03-26 11:04] maveonair opened #15 "Used Keybindings are a pain for Swiss-German keyboard layout"
Hi

I really like this package but it is a really pain when you are using the Swiss-German (French, etc) keyboard layout because "alt-g" is mapped to "@". The issue is that you always have to type "alt-g" twice to get the "@" and this is not really usable IMHO:
![swiss french 2](https://f.cloud.github.com/assets/426412/2523772/04625f9c-b4d6-11e3-9e70-0f2321833439.gif)

It is possible to change the

[2014-03-28 18:50] #15 closed, assigned to nobody

[2014-03-28 22:39] #9 closed, assigned to kevinsawicki

[2014-04-10 21:16] #8 closed, assigned to nobody

[2014-04-11 18:37] sveracarrasco opened #16 "Git diff showing all file as untracked file when not is."
Git diff show all the files of my repo like untracked files.

For example, If I add a new line to the file, the new line added isn't marked as "new line".

Screenshoots:

Before add a line
![image](https://cloud.githubusercontent.com/assets/5871371/2683333/47e16d4c-c1a8-11e3-9438-4bc07a8e5034.png)

After add a line

![image](https://cloud.githubusercontent.com/assets/5871371/2683345/597111f2-c1a8-

[2014-05-04 13:55] elsonwu opened #17 "Not work with *.go file"
I use atom to edit my golang project (_.go file), git-diff does not work, but work well in php project (_.php file), and I am sure I use git in both projects, that's strange.

[2014-05-08 21:31] ghost opened #18 "Gutter width does not increase when icons are shown"
The gutter does not have padding on the right of the line numbers when icons are shown. Each number is flush to the right of the editor/code body, decreasing legibility.

[2014-05-12 16:25] jesseleite opened #20 "Red gutter mark for "removed" lines suggestion."
I think the way git-diff for atom handles gutter marks is beautiful, though the red gutter marks for "removed" lines is a bit confusing.  Instead, I think gutter marks for removed lines should point between the surrounding lines where line(s) in question used to exist.  [See screenshot of GitGutter for Sublime Text.](http://s18.postimg.org/q3gj1pxex/git_Gutter_Test.jpg)  I think this is easier to

[2014-05-15 05:05] balupton opened #21 "Only works if you're editing the root folder of the git repo"
For instance, if I open `~/Projects`, which contains `project1`, `project2`, `project3`, all with their own initialised git repos, all with changes, this plugin doesn't show any of the changes.

It will only show changes if the root directory that I'm editing, is the project directory with the git repository.

Ideally, this plugin should be intelligent enough to find the git repos in the current t

[2014-05-23 09:11] #17 closed, assigned to nobody

[2014-05-29 11:47] elbaulp opened #22 "Does not work at all"
Hi, I can get it to highlight any changes in the document, I've tried enabling and disabling   the option _Show icons in the editor glutter_ and nothing happends. Here is an screenshot:

![screenshot - 05292014 - 01 43 43 pm](https://cloud.githubusercontent.com/assets/394797/3117123/f53644f6-e726-11e3-838e-f5ce0f78682c.png)

[2014-05-29 11:51] #22 closed, assigned to nobody

[2014-05-30 22:09] lee-dohm opened #23 "Show icons in editor gutter doesn't work with React editor"
See atom/atom#2423
## Repro Steps
1. Launch Atom
2. Edit a file in a Git repository
3. Open Settings
4. Check box next to "Use React Editor"
5. Scroll down to the Git Diff package
6. Check box next to "Show Icons In Editor Gutter"
7. Restart Atom
8. Open edited file

**Expected:** Modified line icons to be showing in the gutter
**Actual:** No icons showing

[2014-06-24 16:20] #23 closed, assigned to nobody

[2014-06-25 23:43] #7 closed, assigned to nobody

[2014-06-26 04:10] seaside98 opened #26 "All lines are marked as modified"
Every line except for the last line on nearly all the files I open (HTML, CSS, JS, PHP, etc) is marked as modified, but I haven't made any changes to a single file. `git diff` returns nothing.

[2014-06-26 16:26] #26 closed, assigned to nobody

[2014-06-28 08:25] kevinsawicki opened #27 "Add select list of all diff hunks in current file"
Display a list of the first line and line number of all diff hunks in the active editor, allow you to jump to an specific hunk.

[2014-07-07 21:29] DepthDeluxe opened #28 "Diff lines only change on window focus after commit"
Minor issue but it would be nice if when a user committed files, line diffs were automatically updated as opposed to updating when the window is refocused.

i.e. when I change a line and then commit that change, atom still thinks the line is different than `HEAD` until refocusing the editor.

[2014-07-09 13:43] #18 closed, assigned to nobody

[2014-07-09 17:56] IanMitchell opened #29 "Modified vs Added lines"
I'm not sure if this is intended behavior or not, but it isn't what I was expecting so I thought I'd post an issue. Apologies if this is a non-issue!

When I take code such as:

[code]

And change it to:

[code]

Instead of identifying one modified line and three new lines, the gutter indicates I have four modified lines.

If I instead change the code to:

[code]

The gutter displays three new lin

[2014-07-09 18:55] #10 closed, assigned to probablycorey

[2014-07-10 00:48] #29 closed, assigned to nobody

[2014-07-10 21:37] izuzak opened #30 ""Show icons in gutter" option not preserved after line numbers are toggled"
In the GIF below, I toggle the line numbers off and back on again. Notice that before I toggle them -- the git diff icons are shown, and after -- they're not. (I had to move the cursor after toggling the line numbers due to [another issue](https://github.com/atom/atom/issues/2916).) Happens only with the react editor component.

![icons](https://cloud.githubusercontent.com/assets/38924/3545718/13f

[2014-07-11 19:34] #30 closed, assigned to benogle

[2014-07-15 15:51] #20 closed, assigned to nobody

[2014-07-17 04:03] #27 closed, assigned to nobody

[2014-07-21 19:41] #21 closed, assigned to nobody

[2014-08-16 05:12] josh18 opened #36 "Add option to hide diff lines"
For the most part I find the lines quite distracting however every now and then I would find them very useful and thus it would be useful if there was a quick way to enable/disable them. At the moment to do this I would have to go into Settings > Packages and disable/enable the package?

[2014-08-20 22:22] qayshp opened #37 "Checking the setting for "Show Icons In Editor Gutter" hides the icons"
The icons show when the box is unchecked, and hide when the box is checked.
![screen shot 2014-08-20 at 15 22 13](https://cloud.githubusercontent.com/assets/714080/3989260/82383b02-28b8-11e4-8a40-2200560bd3e8.png)
![screen shot 2014-08-20 at 15 22 26](https://cloud.githubusercontent.com/assets/714080/3989259/8236f24c-28b8-11e4-9bf6-de9588d23f35.png)

[2014-08-27 20:34] lee-dohm opened #38 "Removed icon misaligned"
It appears that the `top: .6em;` setting in PR #32 is misaligning the removed icon in the gutter. It is pushing it too far down. Removing the `top: .6em;` rule fixes the problem.

**Expected:**

![expected](https://cloud.githubusercontent.com/assets/1038121/4066981/7f2ddc98-2e29-11e4-9ed8-f32eafac90c4.png)

**Actual:**

![actual](https://cloud.githubusercontent.com/assets/1038121/4066987/83d35642-

[2014-08-27 20:43] #38 closed, assigned to nobody

[2014-09-07 09:18] elldritch opened #39 "Only works if .git folder is at root of currently opened folder"
If I open `folder` in Atom, then create a git repository in `folder/subfolder/.git` and modify `folder/subfolder/some-file`, the package doesn't recognise the diff. Diffs are only recognised when I open `folder/subfolder` (i.e. when `.git` resides at the root of the currently opened folder).

[2014-09-08 18:55] #39 closed, assigned to nobody

[2014-10-04 20:57] sarbbottam opened #41 "git-diff is not proving any feedback, when the parent directory of the repository is opened in editor."
git-diff is not proving any feedback, when the parent directory of the repository is opened in editor.

---

Please find the attached image for
:x:**actual behavior highlighted in red**
:white_check_mark:  **expected behavior highlighted in green**

![atom-git-diff](https://cloud.githubusercontent.com/assets/949380/4516754/2a480e14-4c07-11e4-8e9d-f7bde18bbc89.png)

[2014-10-06 18:12] #41 closed, assigned to nobody

[2014-10-08 06:42] #37 closed, assigned to nobody

[2015-01-04 19:37] mwesten opened #43 "css files show all lines changed while up-to-date"
For some reason all css fils in my project show as changed; even if git status shows nothing new/changed.
Changing focus, refreshing the file or restarting Atom do not fix this.

![schermafbeelding 2015-01-04 om 20 35 22](https://cloud.githubusercontent.com/assets/66753/5607208/6f606f5e-9451-11e4-972c-31582974dd15.png)

What can be done to fix this?

[2015-01-05 05:07] lee-dohm commented on #43
My assumption is that you are on Windows and you're having a line-ending issue. I suspect this is a duplicate of atom/atom#3768 and can be resolved in the same way.

[2015-01-05 09:48] mwesten commented on #43
You are right on the line-ending part...
I was using Atom on an OSX system, and discarded the line-ending problem at first, but apparently some external (windows created) files got mixed-in, without setting the correct git settings beforehand.

So now using:
```git config --global core.autocrlf input``` on OSX, to set the lineendings to use to LF(default on OSX)
and using a ```.gitatributes``` fil

[2015-01-05 09:48] #43 closed

[2015-01-05 15:38] lee-dohm commented on #43
You're very welcome and I'm happy to help!

[2015-01-07 00:32] dmnd opened #44 "Can't see indicators with Shadow DOM enabled"
I have a problem that's probably my own: it doesn't repro in safe mode, so it must be due to some package I have installed.

The problem is that the green, yellow and red indicators do not appear in the gutter when I have Shadow DOM enabled. Inspecting the DOM, I see that the gutter still has `.git-line-added` on it. But there's no CSS rule that adds the border. Here's the CSS that gets applied in

[2015-01-07 01:02] kevinsawicki commented on #44
Does it happen when you use a built-in theme?

[2015-01-07 01:06] dmnd commented on #44
Yep, I'm using Atom Dark for both UI and syntax.

On 6 January 2015 at 17:02, Kevin Sawicki <notifications@github.com> wrote:

[2015-01-07 01:08] kevinsawicki commented on #44
Hmm, not sure what to suggest besides disabling packages one at a time and seeing which one is causing it that way.

[2015-01-07 01:10] dmnd commented on #44
I did try mass-disabling all my packages, but it didn't seem to help.

I was doing it quickly and probably made a mistake though. I'll try it
again when I have more time.

On 6 January 2015 at 17:08, Kevin Sawicki <notifications@github.com> wrote:

[2015-01-07 01:11] kevinsawicki commented on #44
Just to check, do you have any bundled packages installed to `~/.atom/packages` or `~/.atom/dev/packages`?

If you had `git-diff` there then I could see this happening.

[2015-01-07 01:12] benogle commented on #44
IIRC there were some packages that changed the styling of the gutter to not conflict with the git-diff. I think it was the linter? I cant remember though. I would find any package that puts something in the gutter, disable it and reload.

[2015-01-07 01:12] lee-dohm commented on #44
@dmnd You might want to try @mark-hahn's [package-cop](https://github.com/mark-hahn/package-cop), it is designed specifically to help with this kind of `bisect` style search.

[2015-01-07 01:14] dmnd commented on #44
@kevinsawicki is the winner :smile:

I need to remember to `apm unlink` after working on packages...

[2015-01-07 01:14] #44 closed

[2015-01-07 01:15] kevinsawicki commented on #44
Yeah, when things go wrong for me the first command I run is `apm unlink -a`

[2015-01-07 01:19] dmnd commented on #44
Thanks @lee-dohm I didn't realise a package bisector was released! I linked it from https://github.com/atom/atom/issues/2357.

I'll definitely `apm unlink -a` in the future. Thanks all!

[2015-01-07 01:31] benogle commented on #44
Damn. I really wanted that new car

[2015-01-07 01:33] dmnd commented on #44
:bike: is the best I can do for you

On 6 January 2015 at 17:31, Ben Ogle <notifications@github.com> wrote:

[2015-01-20 03:33] armendarabyan opened #45 "Package doesn't work for me on Mac os Yosemite Atom 0.174"
help me to make it work please.

[2015-01-20 13:01] 50Wliu commented on #45
How is it not working?
Does it work in safe mode (`atom --safe`)?
Do you have the git-diff package enabled?

[2015-01-20 13:34] armendarabyan commented on #45
just tried to run it with safe mode but no result.

git-diff is enabled, I even disabled and enabled it again, and it still doesn't work

[2015-01-20 16:56] lee-dohm commented on #45
How are you launching Atom? Do you have the base of a Git repository open as the root of the project?

[2015-01-25 00:18] glennlopez commented on #45
have the same problem.. i have to constantly untick and retick the "show icons in gutter" checkbox for the package to work.

[2015-01-26 21:37] benogle opened #46 "Show icons in gutter option doesnt work on editor load"
![screen shot 2015-01-26 at 1 39 16 pm](https://cloud.githubusercontent.com/assets/69169/5908951/c8b24382-a560-11e4-9e44-b817917e7fff.png)

* Unchecking and rechecking makes it work.
* Works on reload of editor when there is a addition / change.

[2015-01-26 21:41] benogle commented on #45
My assumption is that it's working, but that the `show icons in gutter` option doesnt work anymore

[2015-01-26 21:41] benogle commented on #45
Closing in favor of #46. If this is not the case, please comment.

[2015-01-27 01:38] #46 closed

[2015-01-29 07:19] egorse commented on #6
+1

[2015-02-02 22:09] janmarek commented on #6
Yes, what JetBrains have in their IDEs is great.

[2015-02-04 08:59] theblacklion commented on #6
+1

[2015-02-04 09:03] oktayacikalin opened #47 "Support nested repos in non-repo project folder"
Currently the gutter seems only to be working if the project root is a git repo. Please also support non-repo-root-folders with nested repos. I'm using this constellation at work because we have notes and other files which should not be in the (e.g. customer) repos.

[2015-02-04 09:07] theblacklion commented on #47
Hmm.. this will be covered here, right? https://github.com/atom/atom/issues/2203

[2015-02-09 10:56] armendarabyan commented on #45
fixed on latest version

[2015-02-09 10:56] #45 closed

[2015-02-09 13:49] Lepeskin opened #48 "Uncaught TypeError: Cannot read property 'style' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: Mac OS X 10.10.2
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v0.28.0

### Stack Trace

Uncaught TypeError: Cannot read property 'style' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-09 13:58] izuzak commented on #48
From the debugging output above ("Installed Packages" section) it seems that you have a super-old version of git-diff installed locally (v0.28.0). The current version of that package is v0.50.0.

If you remove the local package, this should resolve itself.

[2015-02-09 13:58] #48 closed

[2015-02-09 14:01] Lepeskin commented on #48
Thank you a lot!
Yes, very old piece of software, already uninstall, all ok now

--
Денис Лепескин/Denis Lepeskin
Операционный директор/Chief Operating Officer
АПР Групп Азия/APR Group Asia
BAIYUN DISTRICT, GUANGZHOU CITY , CHINA.
广州白云区石井潭村宝鸭北路100号石井创意园L02栋
Mobile: +86 135 702 73754
Office: +86 206 197 2909
QQ: 1750600807
skype: lepeskin
http://www.aprconsulting.ru
http://www.aprgroup.ru

[2015-02-13 16:12] lieutdan13 opened #49 "Incorrectly setting status-modified class for unmodified files"
I'm unable to pinpoint the cause of this bug, but it may possibly be an issue of file permissions. The "status-modified" class is applied to certain files, but when running "git status" via the command line, it shows no changes have been made.

My environment:
- Ubuntu 14.04
- Atom v0.178.0 installed via http://ppa.launchpad.net/webupd8team/atom/ubuntu trusty main
- Atom accessing files via a Samb

[2015-02-13 16:26] lieutdan13 commented on #49
I'm sorry. Is this an issue with atom/git-utils as opposed to this repo?

[2015-02-13 17:05] lee-dohm commented on #49
Given that you're accessing a Samba share, I'm assuming that you're sharing the files with Windows machines? If so, it could be a line ending issue. See #43 #26 and a few topics on [Discuss, the official Atom forum](https://discuss.atom.io).

[2015-02-13 17:25] lieutdan13 commented on #49
I'm glad you asked that, because the Samba share is actually between 2 Ubuntu machines and I just spent the entire day yesterday fixing line endings (some files were older and were originally developed on a Windows machine). Also, most of the files in question are images.

[2015-02-13 17:28] lee-dohm commented on #49
Sorry to bring up a sore issue :wink: The other thing that I have seen cause issues are file mode changes, but yes, theoretically if `git status` isn't showing the files as modified then they shouldn't show that way in Atom either.

@izuzak ideas?

[2015-02-13 18:15] lieutdan13 commented on #49
No worries. It had been on my to do list for quite some time. I'm just glad I don't have to deal with the line ending discrepancies anymore.

Um...this issue appears to be intermittent. All looks good now. I reloaded and restarted Atom a few times. I changed my theme and then back again. I did NOT install any new packages or themes, nor did I change any settings in Atom. I've also opened up differ

[2015-02-25 20:14] despairblue opened #51 "Uncaught Error: Repository has been destroyed"
[Enter steps to reproduce below:]

just started atom after upgrade

**Atom Version**: 0.183.0
**System**: linux 3.18.6-1-ARCH
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v0.53.0

### Stack Trace

Uncaught Error: Repository has been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-25 20:14] despairblue commented on #51
is thrown 4 times in a row

[2015-02-25 20:17] despairblue commented on #51
oh and restarting atom does not surface the error again. :confused:

[2015-02-25 20:41] bolinfest commented on #51
Reloading Atom makes the error appear again for me.

[2015-02-25 20:45] bolinfest commented on #51
My temporary workaround is to go to Settings and disable the `git-diff` package.

[2015-02-25 20:49] izuzak commented on #51
I'm having trouble reproducing this. @bolinfest did I understand correctly that these steps trigger the issue for you:

1. start Atom from the root of a Git repository
2. execute the Window: Reload command

Also, which OS and Atom version are you on exactly?

[2015-02-25 20:50] bolinfest commented on #51
@izuzak I'm programmatically opening multiple root folders via atom.project.setPaths() and only two of the three folders have a Git repository.

[2015-02-25 20:59] izuzak commented on #51
Thanks @bolinfest. Still having trouble reproducing -- just ran this (first two are Git repositories, last one isn't) and didn't see the exception:

[code]

[2015-02-25 21:53] maxbrunsfeld commented on #51
I'm trying to reproduce this too. It looks like the stack trace leads to `@emitter.emit "did-stop-changing` in text-buffer. Maybe it's a race condition that involves calling `.setPaths` right after the editor's changed or it initially loaded?

[2015-02-25 21:55] maxbrunsfeld commented on #51
Yeah. This reproduces it for me:

[code]

[2015-02-25 22:07] #51 closed

[2015-03-05 08:55] simonjosefsson opened #52 "Settings request: include whitespace in diff"
When only adding whitespace to a file it shows as orange (modified) in the folder tree-view.
git-diff however ignores this whitespace.

I realize that the whitespace plugin by default mitigates this issue but it can still happen if the "ignoring whitespace only lines" is set. Or for those that disable it completely.

[2015-03-12 20:13] JaKXz commented on #7
@felixkiss I tried adding those lines to my `styles.less` files while using the [fizzy theme](https://github.com/jglovier/fizzy) but with no luck unfortunately. thanks for the base though!

[2015-03-23 20:26] connormlewis opened #54 "Git-diff doesn't show in multiple panes"
If you open a project and then add a second pane to the Atom window, git diff does not show the line differences at all in the second pane.  The original pane works fine, and when you focus on the other pane the information at the bottom of the window changes, but the lines never show up.

[2015-03-23 20:35] #54 closed

[2015-03-25 19:34] eranimo opened #55 "Git diff only diffs when open folder has .git folder"
I opened a folder in Atom that has git-diff installed. This folder has several repos. Git diff appears to not be working, as if it was an untracked file.

[2015-03-25 19:38] izuzak commented on #55
@eranimo Sounds related to https://github.com/atom/atom/issues/2203. Currently, Git-related features work if the root folder is the VCS root.

[2015-04-07 10:41] Zeex commented on #49
I have a similar problem: files are shared via a common NTFS partition between two systems (Ubuntu and Windows), core.filemode is false.

After I've changed a few files and committed them from Windows git-diff shows all lines as modified in these files, but git status says there are not changes. I've already had `* text=auto` in my .gitattributes long before making these changes and line endings w

[2015-04-07 21:05] bblack opened #56 "Marker below line 1 when line 1 removed"
When the first line of a file is removed, the red 'removed' marker shows below line 1, rather than above it.

[2015-04-15 23:30] megaserg opened #57 "Uncaught Error: No screen line exists when converting buffer row to screen row"
[Enter steps to reproduce below:]
1. Open a directory with some changed uncommitted files under git

**Atom Version**: 0.192.0
**System**: Mac OS X 10.9.5
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v0.54.0
### Stack Trace

Uncaught Error: No screen line exists when converting buffer row to screen row

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[2015-04-16 20:03] izuzak commented on #57
Thanks for the report, @megaserg, but I'm having trouble reproducing this. Can you reliably reproduce this? Does this happen for every file in every Git repository which has uncommitted changes, or only for some? Can you reproduce this in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)?

[2015-05-01 13:31] thinklinux commented on #49
I'm having this problem too between Windows and Ubuntu. I will try to change core.filemode to false but searching the internet about that problem it seems it's not an atom bug. It's more of a git and samba bug. I've tested the new MS's editor and there is the same behavior :/

[2015-05-11 17:37] mattnorris opened #59 "git-diff gutter not working"
I tried all of the suggestions in [this thread](https://discuss.atom.io/t/git-diff-does-not-seem-to-be-working-at-all/5609), but gutters are not working. The thread itself is about *git-diff* not working at all. It is only the gutter functionality that is not working on my instance.

[2015-05-12 00:33] lee-dohm commented on #59
Have you followed the suggestions in the [Debugging document](https://atom.io/docs/latest/hacking-atom-debugging)? Also, could you give the following information?

* Which version of Atom are you using?
* What OS and version are you running?
* Can you reproduce the issue after completely exiting Atom and restarting using `atom --safe`?
* Does this reproduce only with one Git repository? Or all Git

[2015-05-12 20:03] mattnorris commented on #59
I did follow the document, tried `atom --safe`, and it was reproducible in multiple repositories. I ended up uninstalling Atom and reinstalling. `git-diff` is now working, but `git-blame` is not.

Are there known issues with gutter packages?

- 0.198.0
- OS X Yosemite 10.10.3
- Yes
- All

[2015-05-13 00:20] lee-dohm commented on #59
Not to my knowledge, no.

[2015-05-13 02:09] mnquintana commented on #59
@mattnorris Just to make it a bit more explicit, what do you mean by the gutter "not working"? Are diffs not appearing at all? Are diffs sticking around after commits?

[2015-05-13 14:44] izuzak commented on #57
@megaserg Friendly bump -- just wondering if you can still reproduce this. (See questions from my previous comment). Thanks! :four_leaf_clover:

[2015-05-13 21:25] mattnorris commented on #59
@mnquintana I was just inquiring if there were known issues with other packages that alter the gutter. I have since gotten `git-diff` to work but see that **Git Blame** is not working (although a friend says this is a known issue).

[2015-05-13 21:25] #59 closed

[2015-05-17 13:39] listepo commented on #6
+1

[2015-05-23 07:04] demon386 opened #60 "Diff for non-utf8 encoding file?"
I have file encoded with GBK.

this plugin will marked lines with Chinese characters as diff, but the file actually doesn't have any diff.

![image](https://cloud.githubusercontent.com/assets/1246611/7782806/ee38f9cc-015c-11e5-92eb-c7c1821d9cc6.png)

[2015-05-24 03:36] demon386 commented on #60
@lee-dohm I inspect the code a little and this seems to be the bug of "getLineDiffs" ? seems that git-diff doesn't generate diff itself.

[2015-05-24 05:30] lee-dohm commented on #60
No, git-diff depends on Atom Core libraries, which uses atom/git-utils, which ultimately relies on libgit2 to generate the diffs. Does Git actually provide an accurate diff if you just run it at the command line?

[2015-05-24 05:48] demon386 commented on #60
@lee-dohm git itself (command line) works fine.

I don't know how Atom Core libraries work. My guess is that for non-UTF8 file Atom transform it into UTF-8 in editor view?

[2015-05-24 05:54] lee-dohm commented on #60
I don't know where the breakdown is exactly. Someone will have to investigate, I'm just narrowing things down :grinning:

[2015-05-29 20:23] bisraelsen commented on #51
I am getting this error. I am still not sure what started it.

Here is the stack trace:
[code]

I'll try to find out how to re-create...

[2015-05-30 15:11] everlaat commented on #57
I am having the same error but from a different origin;

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.202.0
**System**: Mac OS X 10.10.3
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v0.55.0

### Stack Trace

Uncaught Error: No screen line exists when converting buffer row to screen row

[code]

### Commands

[code]

### Config

[code]

### Install

[2015-05-30 15:15] izuzak commented on #57
@everlaat Can you reproduce the exception reliably? If so, can you share those steps with us, and the file with which you're reproducing it?

Also, can you reproduce the problem in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? You have lots of packages installed, and this might be caused by one of the packages somehow.

[2015-05-30 15:17] everlaat commented on #57
I'll try to reproduce it, but after a restart of Atom the error no longer appears.

[2015-06-11 09:20] abe33 opened #62 "Add setting to ignore whitespaces in diff"
I believe it would also require changes in the repository class in core so that we can pass cli options to `getLineDiffs` (`-w` in that case).

See atom-minimap/minimap-git-diff#12

[2015-06-12 15:16] woodrowbarlow opened #63 "Feature Request: Click Gutter Icon to Scroll to Next Changed Block"
First of all, I've just started using Atom, so I'm not sure if this is possible or if it is within the scope of intended use for the gutter. If it is possible and desired behavior, I might try to go ahead and fork and pull it in when I get some free time.

Today I was looking for my change in a large file, and I tried clicking the "+1" in the corner of my atom window (the gutter icon), but it didn

[2015-06-13 05:27] danielravina opened #64 "Failed to load the git-diff package"
[Enter steps to reproduce below:]

1. Open a directory

**Atom Version**: 0.209.0
**System**: Mac OS X 10.10.2
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v0.55.0

### Stack Trace

Failed to load the git-diff package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-13 09:27] duub commented on #60
Happens the same with files having a filename with characters like the one in the screenshoot:

![screen shot 2015-06-13 at 11 22 59](https://cloud.githubusercontent.com/assets/2353096/8143797/9f1e7fd4-11be-11e5-9fb8-6c7e386c78f6.png)

[2015-06-13 13:52] peteruithoven commented on #6
The [Brackets git](https://github.com/zaggino/brackets-git) extention shows the difference in the following way after you click on the yellow or red bar in the cutter.
![screen shot 2015-06-13 at 15 48 08](https://cloud.githubusercontent.com/assets/523210/8144546/f9e82a62-11e3-11e5-8b02-6514c1f99826.png)
![screen shot 2015-06-13 at 15 48 18](https://cloud.githubusercontent.com/assets/523210/814454

[2015-06-15 18:17] benogle commented on #64
Why is git diff an installed package on your machine? Are you developing on it? you likely need to run `apm install` in the git-diff dir, or remove it from your `~/.atom/packages` dir

[2015-06-17 12:25] izuzak commented on #64
@danielravina Let us know if the advice above doesn't help :point_up:, I'm closing this for now. :v:

[2015-06-17 12:25] #64 closed

[2015-06-17 15:08] danielravina commented on #64
That did it. Thanks!

[2015-06-29 22:51] sheck opened #65 "Unmodified lines showing as modified"
Every line in all of my files are showing as modified. The tree view does not mark them as modified and git status comes back clean. The status bar also does not show any changes. I believe I have my git line endings are set up properly. I've followed the solutions on a bunch of related issues — but no luck.

I'm using Parallels on my Mac (OSX Yosemite) to access the Windows partition. Running git

[2015-07-01 21:43] capi commented on #65
I can see this issue runing Atom under Windows 7 as well. If i have `core.autocrlf` to `true`, it will show all files as modified all the time. If I set it to `false` or `input`, some files will work properly, some won't, some won't even show as modified, even if the have modification markers inside the file.

[2015-07-02 05:07] lee-dohm commented on #65
My assumption is that because you are running Windows that you're having a line-ending issue. I suspect this is a duplicate of atom/atom#3768 and can be resolved in the same way.

The advice here might help too: https://discuss.atom.io/t/atom-on-windows-incorrectly-showing-files-as-modified-git/12805

Please let us know if this is not the case.

[2015-07-02 18:13] capi commented on #65
First of all, I must say that I am using the [Cygwin](https://cygwin.com/) version git on Windows, using it directly from a Cygwin terminal.

And I think I just figured out the cause of the issue, and I'm not sure if there is anything to be done about it.

I have the following settings in `.git/config`:

    [core]
    repositoryformatversion = 0
    filemode = false
    bare = false
    logallref

[2015-07-03 00:37] lee-dohm commented on #65
Ok, so it would appear that your configuration was incorrect rather than there being a bug in Atom. I'm glad it got fixed :grinning:

[2015-07-03 00:37] #65 closed

[2015-07-03 07:23] capi commented on #65
@lee-dohm Hmm, "incorrect" is debatable from my point of view. I think there should be a way to tell ` git-diff` about the global settings file. I would consider global settings to be part of the repositories configuration. It just seems to be hard to decide what the global configuration is on Windows when using Cygwin.

[2015-07-03 07:37] josselinauguste commented on #62
Can't agree more !

[2015-07-13 16:19] zonque opened #66 "git status column not updated after partial staging"
When all hunks in a file are commited, the colored status column is reset as expected. If, however, only some hunks are staged and commited (`git add -p` and friends), the update does not happen. Closing the tab and reopening fixes the issue.

[2015-07-13 16:20] zonque commented on #66
Update: once the file is changed the first time after the commit, the update happens as well.

[2015-07-14 02:36] zonque opened #67 "Display git status in minimap"
Not sure whether that's a request for git-diff or minimap, but it would be very useful if git diffs would also be visible in the minimap window, so developers can quickyl navigate to them.

[2015-07-14 02:38] mnquintana commented on #67
This would be a request for minimap, but there also just so happens to be [a minimap plugin for it](https://github.com/atom-minimap/minimap-git-diff) already.

[2015-07-14 02:38] #67 closed

[2015-07-14 02:41] zonque commented on #67
Awesome, thanks!

[2015-07-23 02:33] anjerodesu commented on #6
I think adding code glance would do the job. Mini map plugin has this feature (I mean "code glance" the line of code not the diff) so it should be possible to add it to git-diff.

[2015-07-29 14:18] piotr-cz commented on #6
+1, this is really helpful in Brackets.io
Unfortunately I can't help here, coffee is not my cup of tea.

[2015-07-29 15:54] nicolasmccurdy commented on #6
@samu :+1: for git-diff-details (thought it would also be nice to have a similar diff view in git-diff).

[2015-07-30 07:30] piotr-cz commented on #6
git-diff-details has python as a decadency which is a no-go for me on windows

[2015-08-06 05:13] UltCombo opened #68 "Setting request: diff against index instead of HEAD"
E.g., [`git diff-files`](http://git-scm.com/docs/git-diff-files).

[2015-08-06 05:55] UltCombo commented on #68
I had an error in the title and in the example command, sorry. Fixed these now.

[2015-08-06 06:11] UltCombo commented on #68
Looks like we can use [`Repository.getLineDiffs`]( https://github.com/atom/git-utils#repositorygetlinediffspath-text-options)'s  `useIndex` option.
Would this setting be desirable? The setting could read like this:
- [ ] Diff against staged changes instead of the last commit.

[2015-08-06 16:34] UltCombo commented on #68
A keybinding to toggle this setting would be really useful too, in my opinion.
What do you guys think?

[2015-08-19 13:39] Gabriel-p opened #69 "git-diff stopped working?"
I have version 0.55.0 installed and it doesn't seem to work anymore. No diffs are marked in the gutter.

[2015-08-22 02:32] kayone opened #70 "Delete icon has spell-check underline"
All other icons in the gutter look fine, but the delete icon has a red spelling error underneath it.

![image](https://cloud.githubusercontent.com/assets/412280/9422111/53bf9b8c-483b-11e5-93ab-e000979462e6.png)

[2015-08-22 07:31] izuzak commented on #70
Thanks for the report -- I'm seeing that as well. Wondering if @simurai can :art:-away that line :smile:

[2015-08-22 07:46] izuzak opened #71 "Deletion mark in gutter is partially covered when the mark's bottom row is selected"
In the GIF below, something was deleted between row 16 and 17, so the icon is shown. Notice how when I click in the gutter for row 16 the upper part of the triangle is still visible, but when I click in the gutter for row 17 the lower part of the triangle is no longer visible.

![gutter](https://cloud.githubusercontent.com/assets/38924/9423029/e79a1258-48b1-11e5-9baa-9ee16f9a7dc2.gif)

Atom 1.0.8-

[2015-08-22 07:48] izuzak commented on #69
@Gabriel-p Can you share a bit [more information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues)? Does this happen in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? Does it happen for every project or only some? Can you provide steps which reproduce the problem, starting from a `git clone` command which clone

[2015-08-22 07:59] izuzak commented on #63
Hey @woodrowbarlow. Sorry for the delay in getting back to you on this. Just to make sure -- are you referring to the icons in the status bar (bottom right corner) and not the gutter? (+6, -3 in image below)

<img width="235" alt="screen shot 2015-08-22 at 09 52 59" src="https://cloud.githubusercontent.com/assets/38924/9423065/cb1d1da8-48b3-11e5-8477-e88c053a0caf.png">

If so, then that's implemen

[2015-08-22 13:44] izuzak commented on #66
Sorry for the delay in getting back to you on this, @zonque. Could you please provide exact steps which reproduce the problem, and also a GIF which demonstrates the problem in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? I just tried reproducing this and wasn't able to, so I'm wondering if I misunderstood the report or if this was fixe

[2015-08-22 23:36] nathansobo commented on #71
Tiling strikes again. Forcing synchronous scroll events may allow us to take a totally different approach and avoid the need for it.

[2015-08-23 01:45] simurai commented on #71
Seems that some themes add a background to selected line numbers, which then covers the icon.

We could do

[code]

But there is still the edge case of deleting every other line so that there are multiple removed icons after each other. Then only the last one wouldn't be cut off.

<img width="202" alt="screen shot 2015-08-23 at 10 17 36 am" src="https://cloud.githubusercontent.com/assets/378023/94

[2015-08-24 14:24] as-cii commented on #71
@nathansobo: agreed that tiling is flawed for certain use cases, but this problem seems to be present not only at the boundaries between tiles, but also within a single tile.

@simurai: would the options you proposed work e.g. between a tile and another? If yes, reversing line numbers in the DOM seems okay: similarly, would manually assign an higher `z-index` to the rows below in the document do t

[2015-08-25 00:27] simurai commented on #70
The red dotted line is intended. It should make it easier to see that a line got removed. Maybe could be changed to solid to make it less like spell check.

<img width="57" alt="screen shot 2015-08-25 at 9 20 58 am" src="https://cloud.githubusercontent.com/assets/378023/9455888/e472d82a-4b0a-11e5-83c3-c0aee15553ae.png">

But something is strange with the icon in the initial screenshot. It should b

[2015-08-25 01:09] kayone commented on #70
I see the triangle when disabling _Show Icons in Editor Gutter_

![image](https://cloud.githubusercontent.com/assets/412280/9456344/3fd96574-4a8b-11e5-8a42-65e9f0caeaa8.png)
![image](https://cloud.githubusercontent.com/assets/412280/9456352/4bfae422-4a8b-11e5-9dc4-50c2e5ff3138.png)

[2015-08-25 01:44] simurai commented on #71
Yeah, it already happens if themes add a background color to selected lines, regardless of tiles.

Sorry, __option 1__ actually that wouldn't work with tiles. Unless the tiles itself also get a reversed order, not just the line numbers.

Yeah, feels a bit big of a change, just to fix this visual glitch. So let's scratch ~~option 1~~.

__Option 3__ might be hard to implement because if you delete t

[2015-08-25 04:55] simurai commented on #70
ohh.. I didn't even know that *Show Icons in Editor Gutter* exists. I guess the "something is strange with the icon" is a `minus` icon. :sweat_smile:

ok, yep.. when icons are shown, the dotted line looks wrong.

[2015-08-25 05:30] #70 closed

[2015-08-25 05:32] simurai commented on #70
ok, this should be fixed in the next theme update. @kayone thanks for the issue.

[2015-08-25 05:36] kayone commented on #70
Thank you so much for being so responsive.

[2015-08-25 05:37] kayone commented on #70
I noticed this was fixed in https://github.com/atom/one-light-syntax when I checked other themese it seemed like they all had the same issue.

[2015-08-25 05:42] simurai commented on #70
From the core themes, I think the dotted lines only got added to One dark and One light. Some community themes that forked from One still have it.

[2015-08-26 09:25] as-cii commented on #71
As far as I understand, **Option 3** would require us to keep an extra element around, and I'd prefer to avoid to manage the lifetime of a node which solely exists for this graphical glitch.

We are already using a [similar trick](https://github.com/atom/atom/blob/master/src/text-editor-presenter.coffee#L343) for tiles within `.lines`, so I'd be down to implement something similar for the gutter.

[2015-08-26 09:48] zonque commented on #66
I just tried to reproduce this after upgrading all packages, but couldn't. I consider this issue fixed, will reopen with more information as soon as it reappears. Thanks a lot!

[2015-08-26 09:48] #66 closed

[2015-08-26 12:56] Gabriel-p commented on #69
If I use safe mode the extension is disabled so of course it doesn't work.

It happens for every project, but I'm seeing that apparently Atom isn't even recognizing changes in the repo.

I cloned this project and modified its README.md file. Here's what I see in Sublime (notice the marks in the gutter):

![sublime_diff](https://cloud.githubusercontent.com/assets/6054951/9493802/a1d961fe-4bd8-11e5-

[2015-08-26 13:35] mnquintana commented on #69
That shouldn't be the case - safe mode only disables packages you manually installed, and git-diff is bundled with Atom. Did you manually install git-diff? Can you post a list of your installed packages? (`apm list --installed`)

[2015-08-26 13:51] Gabriel-p commented on #69
Sorry, didn't know that.

I enabled almost all packages again (left out some languages I never use) and tried `atom --safe`. I see the same behaviour, ie: changes in the repo file are not being recognized.

Here's the list of installed packages:

[code]

[2015-08-26 20:36] Gabriel-p commented on #69
Well you can close this issue now. I just used `Open Folder` in Atom which opened the folder in a new instance of the app.

After closing both instances, the new one remained the "default" one en the issue is now gone. This could perhaps be related to the fact that I keep the `/.atom` folder in my Dropbox and link it into my `/home/`. A few hours ago I moved that folder and re-linked it. Perhaps t

[2015-08-26 20:41] #69 closed

[2015-08-27 08:45] simurai commented on #71
Fair enough. :grin:

Yeah, I think the `.line-number`s would need to be reversed in order + the `.tiles` would need a z-index that grows from bottom to top.

------

__Option 4__: If there are complications, the visual could also be changed to not overlap a `.line-number`. For example have a red vertical bottom border. Too big of a change?

![screen shot 2015-08-27 at 5 41 43 pm](https://cloud.git

[2015-08-27 19:11] woodrowbarlow commented on #63
Thank you for the follow-up. Yes, it seems I was confusing the status bar with the gutter. Thank you for pointing me in the right direction.

[2015-08-28 01:08] skybrian opened #72 "doesn't work with gitdir: <path>"
For reasons too annoying to explain, instead of the normal .git directory, I need to use a .git file with a gitdir: entry, as described at [1]. The git-diff plugin doesn't seem to display anything in this case.

[1] http://git-scm.com/docs/gitrepository-layout

[2015-08-31 21:31] MattKunze commented on #55
This also prevents the gutter from working when using git worktrees - in this case there is a `.git` file that points to master repo metadata, not a folder.

[2015-09-15 09:32] as-cii commented on #71
I am reopening this because, for performance reasons, we couldn't exploit the `z-index` trick anymore (more details in atom/atom#8730) and this _seemed_ quite minor compared to the gainings of that PR.

Quoting that thread, I'd be down to have the git deletion marker styled as a "red vertical bottom border" because:

In other words, I feel like the most resilient (and straightforward) solution wou

[2015-09-18 14:02] phord commented on #72
It's not the same as #55.  It has the same effect, but it has a different root cause.  Atom doesn't recognize gitfiles (regular files named .git with 'gitdir: ' paths) as described in the link @skybrian gave.  But I think this is an atom bug, not a git-diff bug.

[2015-10-05 21:33] jiku opened #74 "Request: Diff with tracking branch"
I do WIP commits on branches to make sure changes are kept when updating from tracking branch (i.e. rebase 'feature' on 'master'), making changes to the working tree, etc. Would be nice to have a combined diff to note every change, including unmerged commits, from current to tracking branch. Beyond the scope of git-diff maybe?

[2015-10-16 16:31] jcderose opened #75 "Editor gutter lines not displaying in Atom 1.0.19"
I recently upgraded to Atom 1.0.19 (with git-diff 0.56.0) and the editor gutter lines have disappeared. The colored folders (highlighting changes to files/folders) has also disappeared. I tried disabling/re-enabling the git-diff package but that did not resolve the issue. I also tried un-installing/re-installing Atom but that did not resolve the issue either.

[2015-10-24 20:57] mikewink commented on #75
I have currently the same problem as stated by jcderose with the same setup. I'm running minimap-git-diff and it works and git-diff works too when icons are enabled.

[2015-10-27 12:37] Dayjo commented on #75
I also have no markers / icons on the gutter since Atom 1.0.19. Anyone need any specific info?

[2015-10-28 20:46] ilikebits commented on #75
+1, seeing the same issue here, but icons don't even work for me. The gutter expands as if to make room for the icons, but nothing ever shows up.

[2015-10-28 20:48] jcderose commented on #75
@lee-dohm do you need any specific info from us to try reproducing the issue?

[2015-10-28 21:12] murm commented on #75
I have the same issue as well, also atom version 1.0.19 with 0.56.0 of git-diff

[2015-10-28 22:09] 50Wliu commented on #75
Can everyone please try to reproduce this in safe mode (`atom --safe`)?  Thanks.

[2015-10-28 22:46] ilikebits commented on #75
This issue still occurs for me in safe mode.

On 28 October 2015 at 15:09, Wliu <notifications@github.com> wrote:

--
Leo Zhang
Berkeley EECS 2016
Previously Mithril, Kloudless, Feeding Forward, Captify

[2015-10-28 22:56] jcderose commented on #75
@50Wliu The issue still persists for me in safe mode.

[2015-10-29 08:20] Dayjo commented on #75
Still have the issue in safe mode. I'm on: `OS X El Capitan 10.11.1 (15B42)`

[2015-10-29 08:28] izuzak commented on #75
Do any of you have any styles defined in your styles.less file? Can you share a GIF which clearly demonstrates the problem, just so we're sure were all thinking about the same thing?

[2015-10-29 15:25] jcderose commented on #75
@izuzak here's my `styles.less` file:

[code]

I wasn't able to upload a screenshot, I'll try to get that added today.

[2015-10-29 15:30] izuzak commented on #75
Thanks, @jcderose -- I don't see anything strange there.

A GIF would be more helpful, you can use this tool: http://www.cockos.com/licecap/

Also, can you share your config.cson file as well?

[2015-10-29 15:37] jcderose commented on #75
I just restarted Atom and it had removed my project folder - don't know why. I re-added my project folder and the gutter editor lines showed up (plus the file/folder highlights for edited files). I didn't do anything different so I'm not sure how this issue fixed itself?

Here's my config.cson file if that helps any:
[code]

[2015-10-30 11:00] Dayjo commented on #75
Nothing in the gutter here;

![](http://c.dayjo.me/image/3V37471m1l1S/Screen%20Recording%202015-10-30%20at%2010.57%20a.m..gif)

My stylesheet is empty. My config;
![](http://c.dayjo.me/image/2D1R2J1v0K17/Image%202015-10-30%20at%2011.00.08%20a.m..png)

[2015-11-08 21:23] izuzak commented on #75
@Dayjo can you reproduce the problem in Atom 1.1.0? If so, can you confirm that you are making edits to files within a Git project and that the root of the project added as a root project folder in Atom? Can you share a GIF which shows that the tree view is correctly updating the color of edited files, and also that your are running Atom in safe mode? Also, have you tried temporarily moving the `~

[2015-11-12 11:34] Dayjo commented on #75
Hi @izuzak,

So it turns out that I got it working on local repositories (git repos on my local machine). But I mostly work on repositories mounted via ssh (works in the same way really), and these repositories don't seem to work with the plugin.

[2015-11-27 11:30] yay opened #77 "Diff list doesn't show the whole line of code in results"
LOC

<img width="345" alt="screen shot 2015-11-27 at 12 27 13 pm" src="https://cloud.githubusercontent.com/assets/1799756/11440412/8e093adc-9502-11e5-948d-77e3d920feda.png">

Diff List

<img width="576" alt="screen shot 2015-11-27 at 12 27 42 pm" src="https://cloud.githubusercontent.com/assets/1799756/11440414/91987942-9502-11e5-859d-cb88429b4f68.png">

The logic can be improved here. If the first

[2015-11-28 20:43] marcellodesales commented on #75
Same here... Multiple projects... And I could never seen this plugin working...

![screen shot 2015-11-28 at 12 41 04 pm](https://cloud.githubusercontent.com/assets/131457/11453783/99dc7e66-95cd-11e5-899f-19acd5525cd7.png)

[2015-12-02 13:53] claytonrcarter opened #78 "Option to make gutter marks more prominent"
I use the colored markers in the gutter instead of the +/./- icons to save space on screen, but sometimes those skinny little markers are easy to lose track of when scrolling rapidly or glancing at the screen.  I would love an option to change the background color of the line numbers in the gutter, or maybe even the line numbers themselves.

[2015-12-02 21:37] haasDev opened #80 "Gutter not showing diffs"
My gutter is not showing the "diffs" in the gutter.  I have just recently started using atom and noticed the package comes preinstalled but I have never had this feature show up in any of my git projects.

[2015-12-02 21:47] 50Wliu commented on #80
Closing as a duplicate of #75, please subscribe there for updates.

[2015-12-02 21:47] #80 closed

[2015-12-19 04:40] gitlovenotwar commented on #75
Same here! No icons +- showing.

[2016-01-07 05:52] ULTIMATEUPGRADE opened #83 "Doesn't showing diff for the git repo inside a folder"
For example
I am having a folder named the "Main"
Inside that folder I have 2 git repositories
     Named "test 1" and "test 2"
if I added the "Main" Folder as a project folder in atom
     Then the git diff is not showing for my both repositories

[2016-01-07 16:57] mnquintana commented on #83
Thanks for the suggestion! This looks like a duplicate of https://github.com/atom/git-diff/issues/47 – feel free to subscribe there for updates.

[2016-01-07 16:57] #83 closed

[2016-01-08 22:40] dpo commented on #75
Same here. Atom 1.3.3.

[2016-01-11 09:54] kracejic commented on #60
I also have this problem for iso885916 encoded files...

lines are marked as changed even when they are not.

[2016-01-13 16:14] trkoch opened #84 "Global ignores from ~/.gitignore not merged with project .gitignore (e.g. .DS_Store)"
Global ignores from ~/.gitignore (referenced in ~/.gitconfig) are not merged with .gitignore of the project. Works for the git CLI, i.e. untracked files (which should be ignored) do not show up in command line.

In my case the file in question is '.DS_Store'. Since this file is hidden by default in Atom, this results in "invisible" added files (containing folder are green, but no file can be found

[2016-01-22 11:49] filipgorczynski commented on #75
I am using Atom 1.2.4 @ Ubuntu Linux and found that diffs (markers) are not displayed in gutter and tree-view is not coloring files because of not selecting project directory. By this I mean directory in the tree-view should be directory that contains .git. Of course at the same time there may be many project directories but they shouldn't be under common parent directory.

[2016-01-27 18:59] laander commented on #75
Atom 1.4, disabling/enabling the plugin and restarting Atom fixed it for me. Yay!

[2016-01-27 19:11] lee-dohm commented on #75
It sounds like this is fixed for everyone (other than the `.git` directory not being at the root, for which we have a separate Issue https://github.com/atom/atom/issues/2203). Please let us know if this is *not* working for anyone!

[2016-01-28 07:00] marcellodesales commented on #75
Same here... Worked after upgrading, disabling/enabling it again!

<img width="235" alt="screen shot 2016-01-27 at 10 58 51 pm" src="https://cloud.githubusercontent.com/assets/131457/12637395/bdc576b0-c549-11e5-96c2-c4077e891a7a.png">

[2016-01-28 17:59] lee-dohm commented on #75
You're welcome. Glad it is working for you now :grinning:

[2016-02-05 11:29] peteruithoven commented on #52
This would be useful very.
We just had quite some confusion when a file, created on OS X was changed on Windows, changing the type of new lines. Different editors gave different difference results.

[2016-02-05 11:31] peteruithoven commented on #62
Also see: https://github.com/atom/git-diff/issues/52

[2016-02-05 15:49] larslevie commented on #75
Just ran into this after upgrading to Atom 1.4.3. I'm using minimap-git-diff, and I had to enable and disable both git-diff and minimap-git-diff and then restart in order to get things back to normal.

[2016-02-05 19:38] lee-dohm commented on #75
Thanks everyone for the responses. I'm going to close this since it seems it is fixed :grinning: Let us know if that changes!

[2016-02-05 19:38] #75 closed

[2016-02-08 21:39] xeridea opened #85 "Does not work"
Plugin flat out does not work.  No lines are highlighted.  Win7.  Tried restarting, and multiple projects.  Have TortoiseGit installed if that makes a difference.  I see modified files highlighted, but not lines.  Works on Win10 laptop.

[2016-02-09 00:30] lee-dohm commented on #85
Have you followed the suggestions in the [Debugging document](https://atom.io/docs/latest/hacking-atom-debugging)? Also, could you give the following information?

* Which version of Atom are you using?
* Can you reproduce the issue after completely exiting Atom and restarting using `atom --safe`?
* When you open Atom are you opening the root of the Git repository?
* Is the directory you're openin

[2016-02-09 16:34] xeridea commented on #85
Version 1.4.3
I can reproduce in safe mode
The project folder added is the root of a git repository.
Went through the debugging document.

[2016-02-09 21:34] DylanWalseth commented on #85
I have actually just recently just started getting this issue also. I ran in safe mode and was able to reproduce. Or at least I think it is the same issue.

The file status for change does not update until Atom window loses focus, even on save. I am also running Windows 7, Atom version 1.5.0. .git folder is at root.

Even when the file is marked as have diffs, I run the toggle diffs command and it

[2016-02-15 08:42] anothernode commented on #51
I still get this error every time I start Atom on Linux (now 1.5.3) with a git tracked file opened.

[2016-02-17 18:58] Fishrock123 commented on #85
Atom version 1.5.3. Just started experiencing this today.

Works under `atom --safe`.

Yes. `atom .`

Absolutely.

ping @lee-dohm

I use the Seti theme by default but changing it does not appear to help. This only shows up in safe mode.

Considering I work in a very large project this plugin is extremely important to me. :heart:

[2016-02-17 22:54] lee-dohm commented on #85
@Fishrock123 Are you also on Windows 7?

[2016-02-18 16:53] Fishrock123 commented on #85
@lee-dohm Nope, OS X 10.10.5 (14F1605)

[2016-02-20 23:21] 50Wliu commented on #85
For anyone experiencing this issue: if you open up the dev tools (Cmd+Shift+I or Ctrl+Alt+I), are there any errors relating to git-diff in the console?

[2016-02-20 23:27] Fishrock123 commented on #85
@50Wliu No errors.

[2016-02-21 20:41] lee-dohm commented on #85
@Fishrock123 What does this mean?

Does it mean that things work as expected? Or that the bug reproduces?

[2016-02-21 22:24] Fishrock123 commented on #85
@lee-dohm The icons appear in the gutter under `--safe` mode. They do not appear when I regularly launch atom (`atom .`).

[2016-02-21 22:27] lee-dohm commented on #85
@Fishrock123 That sounds like one of the community packages you have installed is causing the problem. People have reported having success using the [package-cop package](https://atom.io/packages/package-cop) to track down offending packages.

[2016-02-21 22:32] Fishrock123 commented on #85
Update: removing the git-diff v1.0.0 (Community Package one) resolves the issue.

[2016-02-21 22:34] lee-dohm commented on #85
Glad it is fixed for you @Fishrock123 :grinning:

[2016-02-21 22:43] lee-dohm opened #86 "Not showing gutter highlights on files with capital letters in the name"
For example `README.md` in the atom/atom repo:

![mismatch-and-errors](https://cloud.githubusercontent.com/assets/1038121/13205940/c6820a1c-d8a8-11e5-9e0d-bd3b394d84f3.png)

Of special note is in the error message it says that `readme.md` cannot be found, not `README.md`. Could it be that something is not matching the filename because of a case issue?

### Steps to Reproduce

1. Clone the https://

[2016-02-21 22:45] 50Wliu commented on #86
Beat me to reporting this :laughing:.

[2016-02-21 22:47] lee-dohm commented on #86
You've got to build some snippets! I have templates and stuff for many of these things :laughing:

[2016-02-21 23:01] lee-dohm commented on #86
Created some test files:

* `FileWithSomeCaps.txt` &mdash; Reproduced the issue
* `FILE_WITH_ALL_CAPS.txt` &mdash; Reproduced the issue
* `file_in_all_lowercase.txt` &mdash; **Does not** reproduce the issue

[2016-02-22 15:42] joshaber commented on #86
Wow, thanks for figuring this out :heart: @lee-dohm, @50Wliu

[2016-02-22 17:49] #86 closed

[2016-02-25 05:24] kgunbin commented on #55
:+1: doesn't work in worktree

[2016-02-25 13:59] joshaber commented on #55
Indeed, worktree support needs to be added to libgit2 before we can support it: https://github.com/libgit2/libgit2/issues/3159

[2016-02-25 18:58] DylanWalseth commented on #85
Just an update, haven't responded in a few days.

Updated my Atom to version 1.5.3 (and still on Win 7)
Still have the issue.
I run the "toggle diff list" command and it says no diffs, even if the file in the tree view is showing as changed and the git status/diff through terminal shows the diffs correctly.

Behavior matches exactly as stated in my previous post.

This still happens even with all

[2016-02-26 14:59] schmolly159 commented on #51
Error report:
I started getting this error message after editing my init script to sort project directories alphabetically.

1. Added code to init.coffee
2. Restarted Atom

Code:
[code]

**Atom Version**: 1.5.3
**System**: linux 4.1.15-gentoo-r1
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v0.57.0

### Stack Trace

Uncaught Error: Repository has been destroyed

[code]

##

[2016-02-29 15:30] DylanWalseth commented on #85
Interestingly enough, it appears the bug only occurs if the repo is in my Desktop folder, but not if it somewhere else. I think xeridea's reply is on to something with the symlinks.

[2016-03-01 09:23] justinsolms opened #87 "Gutter diff icons missing"
I have no git gutter diff icons. This corrects when I run `atom --safe`. Issue re-appears when I run atom normally.

This issue may have appeared after I installed `git-plus` and `git-control`. However I'm unsure about this. I have subsequently removed the two aforesaid packages.

Atom `1.5.3`

My platfrom: `Linux sundesk01 3.16.0-60-generic #80~14.04.1-Ubuntu SMP Wed Jan 20 13:38:16 UTC 2016 i686

[2016-03-01 09:34] justinsolms commented on #87
Solved!

I noticed I had `git-diff` listed under both `community` and `core` packages.

The issue resolved itself after I ran
`apm uninstall git-diff`

I remember that I had installed `git-diff` a long time ago. Maybe it wasn't a `core` package back then.

[2016-03-01 11:15] nils-werner commented on #85
@Fishrock123 I have the same problem with the same two packages on the exact same versions. How did you manage to uninstall the community package? And why did you uninstall the 1.0.0 one and not 0.57.0?

[2016-03-01 12:34] 50Wliu commented on #87
Glad to see you solved your issue @justinsolms!

[2016-03-01 12:34] #87 closed

[2016-03-02 01:16] lee-dohm opened #88 "Gutter not agreeing with tabs, tree-view or git (gutter is incorrect)"
<img width="637" alt="screen shot 2016-03-01 at 4 58 44 pm" src="https://cloud.githubusercontent.com/assets/1038121/13447473/a588bf8e-dfd0-11e5-9bf9-b904fe6be520.png">

Reproduced on Atom v1.7.0-dev-19623b3 on Mac OS X 10.11.3. It does *not* repro on either v1.5.3 or v1.6.0-beta6.

Steps I used to (unsuccessfully) correct it:

1. Close and reopen the file
1. Close and restart Atom
1. Open Atom in

[2016-03-02 03:10] joshaber commented on #88
So the tree-view was wrong but the diff markers were right? Or do I have that backwards?

[2016-03-02 03:18] lee-dohm commented on #88
Yeah, sorry ... the diff markers were wrong. Tree view and tabs were correct.

[2016-03-02 03:20] joshaber commented on #88
Could you zip up the repo and post it somewhere accessible? This sounds really odd.

[2016-03-02 05:13] lee-dohm commented on #88
Yeah, I'll do that.

On Tue, Mar 1, 2016 at 7:20 PM, Josh Abernathy <notifications@github.com>
wrote:

[2016-03-02 22:45] lee-dohm commented on #88
Forgot to post the bisect results. This was weird enough I wasn't sure if it was necessarily a git-diff change that did it, but the bisect tracked down the first occurrence to [the update of Atom to git-diff v1.0.0](https://github.com/atom/atom/commit/e4f23d47680fd7edd45f5d3c3056d1352164c3a3).

[2016-03-03 21:52] 50Wliu commented on #88
I can reproduce this (I think).

1. Open a file that does not have a trailing newline.
2. Save it to trigger a newline being added (and observe that the diff marker appears on the wrong line).
3. Close Atom.
4. Discard changes through Git (in my case, Github Desktop).
5. Re-open Atom.
6. Observe that the diff marker is still there despite changes being discarded.

Closing and re-opening the file d

[2016-03-03 21:57] 50Wliu opened #89 "Diff marker appears on the wrong line, if at all"
Steps to reproduce:
1. Open a file that does not have a trailing newline.
2. Save the file to add a trailing newline.

Expected: A green/added diff marker is added at the last line.
Actual: A yellow/modified diff marker is added a few lines before that (line 7 instead of line 10 in this case), or no diff marker appears (on a longer file that scrolls).

Of note: The line where the diff marker is sh

[2016-03-03 22:10] joshaber commented on #89
I'm pretty sure this is https://github.com/atom/git-diff/issues/88, but I'll leave it open until I have a better understanding of it.

[2016-03-04 00:41] joshuajabbour commented on #51
I'm having the exact same issue and same cause (sort paths) as @schmolly159 [above](https://github.com/atom/git-diff/issues/51#issuecomment-189314182).

[2016-03-04 00:42] joshuajabbour commented on #51
And the reason we're posting here in an old issue is Atom tells us "The error was thrown from the git-diff package. This issue has already been reported. View Issue". Happy to open a new issue if necessary...

[2016-03-04 01:22] 50Wliu commented on #51
@joshuajabbour Yeah, a new issue would be appreciated.  The notifications package isn't advanced enough yet to figure out that these are two different bugs.

[2016-03-04 01:25] joshuajabbour opened #90 "Uncaught Error: Repository has been destroyed"
Even after #51 landed, some users are still getting this error.

[schmolly159's comment](https://github.com/atom/git-diff/issues/51#issuecomment-189314182) describes the cause for me as well, namely sorting paths in tree view triggering this error.

[2016-03-04 17:11] joshaber commented on #88
I've opened on nodegit with the fix: https://github.com/nodegit/nodegit/pull/938

[2016-03-06 03:24] DavidCai1993 commented on #85
@nils-werner It works!

[2016-03-06 13:13] sgt39007 commented on #85
just remove git-diff from ~./atom/package  i had tested...it works

[2016-03-07 11:50] pradyunsg commented on #6
+1

http://blog.atom.io/2016/02/03/introducing-block-decorations.html

If I read this correctly, it should be possible to utilizse this new API to show inline-diff! :smile:

[2016-03-07 20:39] #88 closed

[2016-03-07 20:39] #89 closed

[2016-03-09 14:17] hron opened #91 "Doesn't show changes in gutter when there is a symlink in path to git repository on Windows 10"
Let's say we have a git repo in `E:\src\project` and there is a symlink to src in home folder `C:\Users\aleks\src -> E:\src`.

git-diff works without problems when Atom opens target directory `E:\src\project`, but when Atom tries to open this project using the symlink, i.e. `C:\Users\aleks\src\project` git-diff doesn't show changes in the gutter.

However, tree-view always shows the changes. Atom

[2016-03-11 14:15] sangregoriopaolo commented on #55
+1

[2016-03-14 08:34] cszipper opened #92 "not work when a parent folder opened"
I found that if I have a parent folder(which contains the target project)opened before the project, it will not show the colored markers.
for example, if I opened workspace before the project folder, git-diff won't work
workspace/
&nbsp;&nbsp;&nbsp;&nbsp;|- project/
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|- .git/
project/
&nbsp;&nbsp;&nbsp;&nbsp;|- .git/

info: git-diff 0.57.0

[2016-03-14 16:51] juantascon commented on #68
hi, instead of this option "Diff against staged changes instead of the last commit." it'd be better to have a field were you can point your diff to, it would default to HEAD but you'll be able to change it so it diffs against master or whatever base branch you use.

just fyi git gutter sublime extension allows this

[2016-03-14 19:50] 50Wliu opened #93 "Error getting status for undefined when no file is open"
Steps to reproduce:
1. Open Atom with no files open
2. Open dev tools
OR
1. Open Atom
2. Close tabs that are open
3. Open dev tools

Any time that no files are open within Atom, two errors get thrown:
[code]
and
[code]

In addition, I have seen similar errors thrown even when files are in the editor, but usually those files have just been added to the file tree and/or moved around.  Still trying t

[2016-03-14 19:55] 50Wliu opened #94 "Error getting line diffs for newly added files"
Similar to #93.

Steps to reproduce:
1. Open dev tools
2. Move a file from a subfolder into the root folder using Atom's Tree View (this step might be overly specific, not sure)
3. Errors occur
OR
1. Open dev tools
2. Create a new file using Tree View's "Add File" feature
3. Errors occur

Once again, two errors:
[code]
and
[code]

Windows 10 x64, Atom 1.7.0-dev-579b6b7, safe mode.

/cc @joshaber

[2016-03-15 16:02] #94 closed

[2016-03-15 16:02] joshaber commented on #94
Thanks @50Wliu!

[2016-03-15 16:03] #93 closed

[2016-03-15 16:03] joshaber commented on #93
Thanks @50Wliu!

[2016-03-15 16:46] pablorsk commented on #6
+1

[2016-03-19 13:02] samu commented on #6
Version `1.0.0` of the [git-diff-details](https://github.com/samu/git-diff-details ) package has been released today. Changes:

* now makes use of the new block decorators
* dependency to `node-gyp` has been dropped, so there shouldn't be any problems with the installation any longer

[2016-03-21 20:25] kankaristo opened #97 "Broken for submodules since 1.0.0 (async Git?)"
`git-diff` stopped working with a recent update. It could have been version 1.0.0, which apparently started using async Git? I'm currently using 1.0.1 and Atom 1.7.0-beta0 (on Ubuntu 15.10).

The diff markers are working in normal/non-submodule repositories, but for diffs in a submodule, I'm getting the following errors in the console:
[code]

`Infamis` is the main repository (and project root dir

[2016-03-28 14:26] 50Wliu commented on #97
/cc @joshaber

[2016-03-29 15:57] #97 closed

[2016-03-29 15:57] joshaber commented on #97
Thanks for letting us know @kankaristo! This'll be fixed in 1.6.1.

[2016-04-03 16:06] Alexspayne commented on #75
I'm having this same problem with the gutter not showing anything on Atom 1.6.2
I've tried disabling/enabling the plugin and restarting atom.
My style sheet is empty. I tried removing and adding the project folder too.
I can see the git integration is working:
![image](https://cloud.githubusercontent.com/assets/8633216/14233351/ecc73ba0-f993-11e5-8c0c-70e33a322e1b.png)

But no changes are marked w

[2016-04-04 16:31] lee-dohm commented on #75
@Alexspayne please open a new Issue and include as much information as possible, including Atom version, OS version, are you accessing the repo on a remote file system, and can you replicate the problem in Safe Mode?

[2016-04-08 00:11] Bouzmine opened #98 "Diffs not updating after commit using patch"
When I commit only part of a file using `git --patch [file]`, the file won't update its diffs unless I close it and open it again.

[2016-04-21 20:01] yzhong52 commented on #60
As an workaround, I recommend change the encoding of the file to UTF-8.

[2016-04-25 10:38] gardiner commented on #49
I have the same issues with files which contain umlauts in their filename.
They are being marked as "new" in atom (and their parent directories are marked as "modified"), although they are already in the repository.

[2016-05-01 20:17] arnov commented on #92
Yeah, this is pretty annoying, since I work on a lot of different repositories I normally have the parent folder opened.

[2016-05-05 20:24] download13 opened #99 "Error: Reference 'refs/heads/master' not found"
Got this error in the console:
![Console screenshot](http://i.imgur.com/YhpuK9X.png)

I noticed that the diff markers are not appearing next to the line numbers in files. Not sure if that has anything to do with it.

[2016-05-05 20:29] download13 opened #100 "Excluded files still show as ignored in file tree"
My `.gitignore` file includes the following lines:

[code]

Everything in `dist/server/` is now shown as grayed out in the file tree as though it is untracked. Including `dist/server/Dockerfile`, which should be tracked as the gitignore file explicitly excludes it from being ignored.

![File tree](http://i.imgur.com/YskRxbp.png)

[2016-05-05 20:34] 50Wliu commented on #99
@download13 Please read [How do I submit a (good) bug report]](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#how-do-i-submit-a-good-bug-report) and include the relevant information here so that we can triage this further.  Thanks!

[2016-05-06 00:55] download13 commented on #99
Nevermind, those errors were caused by Atom code, which is no longer in that repo anyway.

[2016-05-06 00:55] #99 closed

[2016-05-12 19:41] danielmurray opened #101 "Git compare functionality"
I love atom's git integration... but it only marks that changes exist in folder/file/lines as compared to the git HEAD. I would like to implement a feature to compare any two branch/commit/tags, and eventually a tree visualization graph. Do either of these features make sense to be integrated in this repo? If not, are there any other projects/repo/packages that I should look into contributing to?

[2016-05-12 21:06] renarsvilnis commented on #75
@Alexspayne did you manage to solve the issue?
Migrating from Sublime to Atom, and this seems to be the only thing I can't get working.
On the lower right corner the same as @Alexspayne seem to have Atom recognize the repo.

<img width="307" alt="screen shot 2016-05-12 at 23 49 28" src="https://cloud.githubusercontent.com/assets/3515099/15230212/35630330-189d-11e6-9f07-626e76844aa5.png">

<img wid

[2016-05-24 09:29] puranjayjain commented on #85
Atom: 1.7.4
OS: Windows 10 x64 Enterprise
I have recently started facing this bug where the line markers are gone but only for files which either have Folders or Files in path which begin with a capital letter. e.g the bug occurs on "Foo" but not
on "foo".

[2016-05-24 16:32] dinosaurfiles commented on #16
+1 on this
https://i.imgur.com/rqaG4GC.png
https://i.imgur.com/OhPQolB.png

[2016-05-26 07:12] florianb commented on #91
This bug seems to be OS unspecific - i am using Mac OS X:

[code]

[2016-06-15 19:50] tuckbick commented on #101
Like this?
https://github.com/jisaacks/GitGutter#comparing-against-different-commitsbranchestags

[2016-06-15 19:51] tuckbick commented on #101
Possible duplicate of #74

[2016-06-18 09:08] lijunle opened #102 "Provide option to ignore EOL whitespace"
[Repository.getLineDiffs](https://github.com/atom/git-utils/blob/7c6c2fd5650233d0e5d4bdee80f04f574ed5ff83/README.md#repositorygetlinediffspath-text-options) provides an option to ignoreEOLWhitespace, however it is not passed in [the code](https://github.com/atom/git-diff/blob/1f73deb3020b26e8e6578db89ccd76045060bd23/lib/git-diff-view.coffee#L103). Could you please add it as an option?

[2016-06-21 02:37] trusktr opened #103 "[bug?] git-diff shows nothing when project root is not a git repo."
I have a project where the root contains two git repositories, but the root of the project is not itself a git repo:

[code]

When I edit files in either of repo1 or repo2, the editor does not show any changes in those files.

Seems like git-diff only works when the project root is a git repo, otherwise it does nothing.

I have various projects like this, where the root is not a repo, so the packa

[2016-06-21 15:08] 50Wliu commented on #103
This is a duplicate of atom/atom#2203 - feel free to subscribe there for updates.

[2016-06-21 15:08] #103 closed

[2016-07-04 09:04] nvanrees opened #104 "Tree and gutter not updating after commit"
After a commit. The diff colors remain in the gutter and tree.
Only updates after closing and reopening the file, or restarting Atom. Also happens in safe-mode.

Atom version 1.8.0
Git-diff 1.0.1
On Linux Mint 17.3 Cinnamon 64-bit

[2016-07-07 04:55] danielmurray commented on #101
@tuckbick, bingo that is exactly it, be able to change the comparison commit from HEAD to any branch/tag/commit

second feature request/question is perhaps clicking on the gutter to show the diff of the two files

[2016-07-13 07:52] merlijnbruijnes commented on #104
Any news about this issue? I have exactly the same problem.

[2016-07-15 10:56] 50Wliu commented on #104
I believe this is a duplicate of atom/atom#11358 and has been fixed.

[2016-07-15 10:56] #104 closed

[2016-07-16 03:01] kmmbvnr opened #106 "Failed to activate the git-diff package"
[Enter steps to reproduce below:]

1. Open a file in the fresh install of atom

**Atom Version**: 1.8.0
**System**: Ubuntu 15.10
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v1.1.0

### Stack Trace

Failed to activate the git-diff package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-16 04:51] lee-dohm commented on #106
Atom v1.8.0 ships with git-diff v1.0.1. Please run `apm uninstall git-diff` if you have manually installed it. If you haven't manually installed the git-diff package, I suspect that you installed Atom from a Linux package manager that "customized" the Atom installation without doing proper testing. If so, please follow up with the maintainer of that customized Atom version.

We'll be happy to supp

[2016-07-16 10:02] 50Wliu commented on #106
@kmmbvnr How did you install Atom?

[2016-07-16 13:22] joelmukuthu commented on #106
I also had this issue with atom v1.8.0 and I only got it to go away by disabling the built-in git-diff package. Incidentally `apm ls` lists the built-in git-diff version as v1.1.0. I upgraded atom (from v1.6.3 or something, I didn't check before updating) to v1.8.0 by running the .deb file from https://atom.io/download/deb on Ubuntu 16.04. Any ideas?

### apm ls
 I have disabled all the community

[2016-07-16 14:31] apopa116 commented on #106
Same issue here. I've installed Atom v1.8.0(atom-amd64.deb) from the official website.

[2016-07-16 17:28] ad222kr commented on #106
I have the same issue. Installed Atom 1.8.0 from atom.io

[2016-07-16 17:36] lee-dohm commented on #106
Thanks everyone, I'm looking into it now.

[2016-07-16 18:02] lee-dohm commented on #106
For all receiving this error message, uninstall the version of Atom you're currently using and install the appropriate one from here:

https://github.com/atom/atom/releases/latest

[2016-07-16 18:41] lee-dohm commented on #106
Since this is a symptom of a larger Issue, I'm going to close this again. You will want to subscribe to and follow the workaround instructions in https://github.com/atom/atom/issues/12182.

[2016-07-16 18:41] #106 closed

[2016-07-24 16:55] udoyen opened #107 "Failed to activate the git-diff package"
[Enter steps to reproduce below:]

1. create git repo on computer
2. add files and then commit
3. create and add remote repo
4. close and relaunch atom

**Atom Version**: 1.8.0
**System**: Ubuntu 14.04.4
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v1.1.0

### Stack Trace

Failed to activate the git-diff package

[code]

### Commands

[code]

### Config

[code]

### Insta

[2016-07-24 17:14] 50Wliu commented on #107
Please re-download Atom 1.8.0.  Apologies for the inconvenience.

[2016-07-24 17:14] #107 closed

[2016-07-25 12:46] digelim opened #108 "Uncaught TypeError: Cannot read property 'onDidChangeStatuses' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: elementary OS
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package, v1.1.0

### Stack Trace

Uncaught TypeError: Cannot read property 'onDidChangeStatuses' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-25 13:17] 50Wliu commented on #108
Please re-install Atom 1.8.0.  Sorry for the inconvenience.

[2016-07-25 13:17] #108 closed

[2016-07-27 07:21] imatveev opened #109 "Error when working in submodule"
Error: the path 'core' exists but is not a tree
Error getting line diffs for...

[2016-08-15 21:07] #36 closed

[2016-08-27 17:25] xenithorb commented on #92
I can confirm this on the latest RPM on Fedora 24.

It seems Atom / this package 's workflow assume that a "project" is a single repo.

My logical organizing of a project doesn't work that way, since my "project" is the folder that contains the set of repos for the project. (Or even one more removed from that)

It starts working again if I add the folders separately as projects. (which I don't thi

[2016-08-27 17:33] 50Wliu commented on #92
This is a duplicate of atom/atom#2203 - feel free to subscribe there for updates.

[2016-08-27 17:33] #92 closed

[2016-08-31 18:32] lee-dohm commented on #47
@oktayacikalin Saw this on a clean-up pass I'm doing. Yes, atom/atom#2203 is where this will get resolved. I'll close this Issue as duplicate. You may want to subscribe to the other Issue for updates.

[2016-08-31 18:32] #47 closed

[2016-09-06 16:04] washt commented on #55
+1

[2016-09-14 07:12] JoshuaRogan commented on #55
+1

[2016-09-17 23:20] Mouvedia commented on #85
#91?

[2016-09-21 01:12] darianbr commented on #90
I encountered this error today. It use project-plus and switched to project B but a file from project A was still in the window for some reason. The error kept popping up repeatedly until i closed the file from project A.

Maybe this will help discover/fix the issue.

[2016-10-15 15:58] mislam commented on #75
I'm using Atom 1.11.1. I used to see the git-diff colors in the gutter before, but not any more. Why atom admin keeps closing this issue. This needs to be fixed.

[2016-10-16 18:35] Ben3eeE commented on #75
@mislam please open a new Issue and include as much information as possible, including Atom version, OS version, are you accessing the repo on a remote file system, and can you replicate the problem in Safe Mode?

[2016-10-24 03:47] nibudd commented on #85
I'd to confirm. I had the same issue of not seeing git indicators in the gutter. Removing the community git-diff package (apm uninstall git-diff) did the trick.

[2016-10-25 20:20] Xogle opened #113 "Stopped working"
Just magically stopped working... really disappointed... it worked yesterday now I am seeing nothing.

I guess some repos can have this feature disabled. Some repos work and some dont. Why you would not want to see your changes is beyond me.

[2016-10-25 20:36] #113 closed

[2016-10-25 20:56] Xogle opened #114 "Opening a directory as a project with multiple repos inside breaks git-diff functionality"
Steps to reproduce,

1. Create a high level directory, "nameMeWhatever".
2 .Pull multiple repos into the parent directory named "nameMeWhatever",
3. Open the highest level directory in Atom as a project
Your folder view on left should look like
nameMeWhatever (root directory opened as a project)->
           repo1
           repo2

Make changes in either repo1 or repo2.

See that git-diff is unabl

[2016-10-25 21:45] Xogle commented on #114
This is intended for performance reasons.

lee-dohm [5:41 PM]
@kogle That's the problem then
[5:41]
We don't search down the file hierarchy for a git folder for performance reasons

[2016-10-25 21:45] #114 closed

[2016-10-27 09:43] camlafit commented on #60
Hi

This problem is again here. UTF8 is not a workaround.

On some case we can't use this charset. As example a bash script can't be encoded in utf8

[2016-11-02 01:35] jmfederico opened #115 "Files under a folder with accents on the name are not detected as committed"
I am using atom 1.11.2 with git-diff 1.1.0 on OSX Sierra.

I have a repo which has a folder with an accented character (Bogotá), files under that folder are always shown as new (uncommitted) even though the file is definitely committed.

## As shown in Atom
<img width="193" alt="screen_shot_2016-11-01_at_20_32_05" src="https://cloud.githubusercontent.com/assets/237977/19913652/a31cd420-a072-11e6-8

[2016-11-02 01:54] 50Wliu commented on #115
This is a duplicate of atom/atom#1890 - feel free to subscribe there for updates.

[2016-11-02 01:54] #115 closed

[2016-11-12 10:28] steve2507 commented on #91
I have the same issue with drive mappings to a Windows share. Not sure if I should open a new issue for that, as it may very well be related.

[2016-11-24 08:53] matthieuheitz opened #116 "CRLF showing as changes when git commits them in LF"
I have a file with CRLFs.
I use the git setting that automatically takes care of it, and commits files with LF instead of CRLF.
When I type git diff on that file, I don't see any changes.
Whereas in the Atom Minimap, all the lines are orange, except for the last one.
This makes it impossible to properly use this package since all lines have changes.

Maybe this package should not consider the CRLF

[2016-12-11 01:41] notnyt commented on #91
I'm seeing the same issue when opening a project via webdrive.

[2016-12-19 10:50] oskbor commented on #116
I also have this issue (albeit inverted). My files are LF and commited as CRLF.
All lines are marked as modified while git says no files are modified :(

[2017-01-06 16:30] sharifzadesina commented on #85
Dosn't work for me too,
ArchLinux
Atom 1.12.9
![screenshot from 2017-01-06 19-56-55](https://cloud.githubusercontent.com/assets/15300551/21724720/c9928ada-d44a-11e6-965d-da29dde5a66b.png)

[2017-01-08 16:27] LiyouZhou opened #120 "Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements."
In styles/git-diff.less: Style elements within text editors using the `atom-text-editor::shadow` selector or the `.atom-text-editor.less` file extension.
If you want to target overlay elements, target them directly or as descendants of `atom-overlay` elements.

[2017-01-08 16:59] 50Wliu commented on #120
Without more information, I'm going to assume that you manually installed `git-diff`.  Please uninstall it using `apm uninstall git-diff` from the command line.

[2017-01-08 16:59] #120 closed

[2017-01-10 03:09] brettz9 opened #122 "Feature: Toggle between changes since last commit and changes since commit before last"
### Prerequisites

### Description

It'd be awesome to be able to toggle between a diff of changes since the last commit and a diff between the current state of changes and the commit before last.

I will often work on a branch and commit and push the changes to store my changes, but I frequently go back and amend the commit and force an overwriting of the branch.

When continuing to work on the p

[2017-01-12 06:09] sadikovi opened #123 "Deprecated selector in `git-diff/styles/git-diff.less`"
In `git-diff/styles/git-diff.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

[2017-01-12 06:11] sadikovi commented on #123
Looks like it is fixed in master (7db1c03). Closing the issue.

[2017-01-12 06:11] #123 closed

[2017-01-14 11:49] takhs91 commented on #100
I experience the same issue. It is also annoying because they are also excluded from the linter plugin

[2017-02-10 03:40] lucascosti opened #124 "Symlinks within repository now breaking git-diff"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-02-10 17:54] 50Wliu commented on #124
@dirk-thomas is this potentially caused by the path resolution changes?

[2017-02-11 15:15] dirk-thomas commented on #124
Yes, this could be related to atom/atom#13545 which changes the behavior of `Project.resolvePath` to not resolve symlinks. That method is used in several places. I am not familiar with this package but it should be sufficient to resolve the symlink explicitly if it needs to.

[2017-02-21 19:41] ungb opened #125 "Large file under git takes a long time to edit and save"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * [x] Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * [x] Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * [x] Checked the FAQs on the message

[2017-02-27 14:22] jonico opened #126 "Uncaught Error: Cannot decorate a destroyed marker"
1. Create a conflict in a branch, open atom, resolve conflict and commit, keep atom open
2. Go to command line, switch to a different branch, get a similar conflict in the same file

**Atom**: 1.14.3 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.11.6
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package 1.2.0

### Stack Trace

Uncaught Error: Cannot decorate a destroyed marker

[cod

[2017-03-02 14:36] jackjameshoward opened #127 "Git shows every line has been altered."
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * [X] Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * [X] Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * [X] Checked the FAQs on the message

[2017-03-02 15:17] 50Wliu commented on #127
This is most likely because of your `core.autocrlf` settings in Git.  Try setting it to `false` and see if that changes anything.

[2017-03-02 16:06] jackjameshoward commented on #127
That seemed to do the trick. Thanks @50Wliu

[2017-03-02 19:31] 50Wliu commented on #127
Awesome, glad it worked!

[2017-03-02 19:31] #127 closed

[2017-03-03 08:28] a7madgamal commented on #122
I strongly +1 this
However, I suggest we make it more flexible and add an option to pick ANY commit from the history and temporarily 'dirtify' atom as if these changes are still not committed
I think of this every single time I work in a new branch

I'm so excited for this that I decided to create my first atom package to do it. I would love to hear your feedback on this and of course I can offer

[2017-03-03 08:45] a7madgamal commented on #122
in simple and basic points, here is the problem:
- I work on a feature branch
- finished a small and committable part of the feature in hand
- I like the diff colors of changed files and code, so I don't commit to keep my focus 👎
- at some point I have to commit, when I do I lose all the colors 😢

also in simple and basic points, a possible solution:
- I commit the hell out of my progress 👍
- I ri

[2017-03-09 01:37] bjubes opened #128 "When deleting first line in file, diff shows that second line is deleted"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-03-26 14:57] jestersunborn commented on #84
The same problem (question).

[2017-03-31 16:42] sharifzadesina commented on #85
still doesn't work and there is no local package.

[2017-03-31 17:06] sharifzadesina commented on #85
Guys I have discovered the problem! it was cause of my Synatx them... I have changed it to "One Light" and it is ok now.

[2017-04-06 11:13] matino opened #129 "Changed files don't change the color"
### Description

When I make changes to a file, its color is not changed to the orange in the tree view (although the changed line is marked with orange color in the editor).
New files are marked as green -> this works as expected.
See below:
![atom_git_diff_bug](https://cloud.githubusercontent.com/assets/813942/24751579/6d88fd2a-1aca-11e7-9912-d5fd7d7d6372.png)

I tried removing existing .atom fo

[2017-04-06 22:18] techgnosis commented on #85
Broken in 1.15.0 for me too. I don't have any non-stock packages installed. Doesn't work for any language in any UI or Syntax theme.

[2017-04-07 07:53] qwemaze commented on #127
Heyyy, it's not a solution, it's a workaround!
I expect the plugin to show diff just as `git diff` command does, why is it still not a thing?

[2017-04-07 07:59] thomasjo commented on #127
It does work, and what you are referring to is *not* a workaround...

If you can reliably reproduce, then open a new issue with a *detailed* list of steps required to reproduce the problem, and also full details such as Atom version, output of `git --version` etc. It's practically impossible for us to help you based on your comment.

[2017-04-13 16:01] AsherPeruscini opened #130 "git-diff is deprecated."
You have the core package "git-diff" installed as a community package. See https://github.com/atom/dalek for how this causes problems and instructions on how to correct the situation.
[code]

[2017-04-13 18:25] 50Wliu commented on #130
You have the core package "git-diff" installed as a community package. See https://github.com/atom/dalek for how this causes problems and instructions on how to correct the situation.

[2017-04-13 18:25] #130 closed

[2017-04-18 09:25] JordiPiqueras commented on #85
![image](https://cloud.githubusercontent.com/assets/7103591/25123707/a692a360-2429-11e7-95b9-29435f6fd6e7.png)
The screen is crushed horizontally, how can i solve it!

For other hand I have problems with bitbucket/git, not rules commands alt-b, how can i fix it?

[2017-04-18 10:50] Ben3eeE commented on #85
@Encr1pt3d https://discuss.atom.io/t/where-did-this-empty-space-come-from-how-do-i-get-rid-of-it/30226

For most questions about Atom there are a lot of options, check out:

* [The Atom Flight Manual](http://flight-manual.atom.io)
* [The Atom FAQ on Discuss](https://discuss.atom.io/c/faq)
* [Discuss, the official Atom and Electron message board](https://discuss.atom.io)
* [Join the Atom Slack team

[2017-04-18 10:58] Ben3eeE commented on #85
I am optimistically closing this issue since all the reports for this issue seems to have been resolved by various things :crossed_fingers:

* Uninstalling `git-diff` when it was installed as a community package. `apm uninstall git-diff`
* Changing to a different UI/Syntax theme
* Running Atom in safe mode `atom --safe`
* Ensuring that you have the `.git` folder in the top level https://github.com

[2017-04-18 10:58] #85 closed

[2017-04-28 15:04] ilya7 opened #132 "Plugin not working on the Ubuntu 16.04"
### Description

Plugin not working on Ubuntu

### Steps to Reproduce

1. Enable plugin
2. Try to edit previously committed file

**Expected behavior:** Line must me marked as edited
**Actual behavior:** Nothing happened

**Reproduces how often:** 100%

1. Press alt-g d

**Expected behavior:** Diff list opened
**Actual behavior:** Nothing happened

**Reproduces how often:** 100%

### Versions

Ubu

[2017-04-28 15:53] 50Wliu commented on #132
Does this happen in safe mode?

[2017-05-12 07:47] #132 closed

[2017-05-21 23:54] brantwedel commented on #122
A quick toggle between last commit and upstream branch would be a great first step.

[2017-05-25 10:22] gpoul opened #133 "Variable width git gutter markings"
At the moment you're using a fixed 2px gutter markings; on high-dpi displays this becomes very small and hard to see (at least for me) and I came up with the following change that works for me:

[code]

I thought this might be a nice addition to help others as well in case you think that's a nice addition as well.

[2017-05-25 10:25] gpoul commented on #133
Varying the width might be a good alternative to #78

[2017-05-30 16:04] phoenixgao commented on #90
I encountered this error when using php-cs-fixer to fix the code standard

[2017-06-07 17:51] karldw opened #134 "git projects with --separate-git-dir don't get processed by git-diff"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-07-12 18:47] leongaban opened #135 "git-diff for Atom not working"
https://stackoverflow.com/questions/45065401/git-diff-for-atom-not-working

###Atom version 1.18.0

I have a brand new install of Atom and installed git-diff. Created a new reducers.js file which was added to a commit, then wrote some code, the code isn't displaying as new:

[![enter image description here][1]][1]

I'm expecting a Green highlight line on the right side with the line numbers, howev

[2017-07-12 18:53] #135 closed

[2017-07-17 18:09] Kosyne opened #136 "Gutter highlighting does not work for files in a submodule"
### Description

git-diff highlighting does not work for files in a submodule.

### Steps to Reproduce

1. Have a git repo that uses submodules
2. Edit a file NOT in a submodule, note that the gutter highlights properly
3. Edit a file IN a submodule, note that the gutter does NOT highlight at all.

**Expected behavior:** Submodules should highlight the gutter the same as non-submodules.

**Actual

[2017-07-17 18:14] Kosyne commented on #136
So, apparently you need to restart atom and/or reopen that file's tab before the highlighting will work. My bad.

[2017-07-17 18:14] #136 closed

[2017-07-21 08:15] cataline commented on #85
Deleting the repo and cloning it again is the only thing that worked for me.

[2017-08-09 17:20] petemill opened #137 "Cannot 'split [direction] and move active item' when git diff is active item"
### Description

Running the atom command 'split right and move active item' when a git diff tab is the active item, there is what seems to be an infinite loop - the title bar loops between two different titles, the editor is unresponsive, and eventually offers to 'force close'.

### Steps to Reproduce

1. Create a test project:
   - `mkdir git-test1 && cd git-test1`
   - `git init`
   - `echo "hi

[2017-08-10 01:41] 50Wliu commented on #137
Thanks for the bug report @petemill!  However, I think you've opened this on the wrong repository - the git diff _tab_ is handled by the github package.  Would you mind moving this issue there please?

[2017-08-10 01:41] #137 closed

[2017-08-13 06:14] Manish-rai21bit opened #138 "Uncaught Error: Couldn't convert text to a String"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.19.0 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.10.5
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package 1.3.6

### Stack Trace

Uncaught Error: Couldn't convert text to a String

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-08-14 00:29] petemill commented on #137
https://github.com/atom/github/issues/1097

[2017-08-14 21:26] rsese commented on #138
Thanks for the report!  Can you confirm a few things for us?

* what were you doing at the time of the error?
* is the error is reproducible?
* if reproducible, do you see the error in safe mode (atom --safe)?

[2017-08-15 05:35] Manish-rai21bit commented on #138
Hi Rsese,

I get this error each time I open a big csv on atom. The file that I was opening was a csv with the size of 63 MB.
And I get this error even in the safe mode.

[2017-08-15 15:26] Ben3eeE commented on #138
@Manish-rai21bit Can you share the csv file where you see this issue?

/cc: @maxbrunsfeld

[2017-08-21 14:16] dwelle opened #139 "support compactionHeuristic"
`diff.compactionHeuristic` for better diffs -- see "beautiful diffs" section in https://github.com/blog/2188-git-2-9-has-been-released

[2017-08-22 03:56] terrywh opened #140 "git-diff does not follow config for submodule ( ignore = dirty )"
### Description
git-diff does not follow config for submodule ( ignore = dirty )

### Steps to Reproduce

1. config a submodule ( ignore = dirty ), for example:
[code]

2. touch a new file in that submodule

**Expected behavior:**
do not show update or new file add

**Actual behavior:**
a new file was added and marked green

**Reproduces how often:**
always

### Versions
git-diff 1.3.6
Atom x64 1.

[2017-08-22 20:06] lee-dohm commented on #138
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/atom/atom/issues/15325. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the

[2017-08-22 20:06] #138 closed

[2017-08-29 10:25] alekszaf opened #141 "Uncaught TypeError: Cannot read property 'onDidDestroy' of undefined"
Shows up on the opening of an html file. The error did not appear when I opened the file in the older version of atom.

**Atom**: 1.19.4 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.10.5
**Thrown From**: [git-diff](https://github.com/atom/git-diff) package 1.3.6

### Stack Trace

Uncaught TypeError: Cannot read property 'onDidDestroy' of undefined

[code]

### Commands

[code]

### Non-Core Package

[2017-08-30 19:42] rsese commented on #141
Thanks for the report!  Can you confirm a few things for us?

* is the error is reproducible?
* if reproducible, do you see the error in safe mode (atom --safe)?
* can you reproduce with any file or just the HTML file you were working on?
* which older version of Atom didn't have this problem (e.g. 1.18.0 or an earlier version of 1.19)?

[2017-08-31 09:25] alekszaf commented on #141
It is reproducible, but only on different HTML files, other formats seem to be fine. The error does not appear in the safe mode. Before the update I was using version 1.18.0.

[2017-08-31 20:48] rsese commented on #141
Hmmm, that's odd - the error reporter seems to show that you have no community packages installed?  Can you confirm by running:

[code]

[2017-09-22 14:00] GioLogist commented on #127
This is still happening to me, even with autocrlf set to false.

[2017-09-26 06:41] agupta1989 commented on #135
@leongaban did you find any solution for this ?

[2017-10-16 11:02] 50Wliu commented on #141
Thank you for your issue!

We haven't gotten a response to our questions in our comment https://github.com/atom/git-diff/issues/141#issuecomment-326416387. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2017-10-16 11:02] #141 closed

[2017-10-22 12:29] mr-bat commented on #65
I'm having this issue on mac.

[2017-10-23 20:55] lee-dohm commented on #65
@mr-bat If you're running into something that you consider to be a bug, please open a new issue and fill out the template.

[2017-10-26 23:03] flatmax opened #143 "empty Unstaged Changes : repository is not open in Atom"
hi there,

When I click a file (in the unstaged changes list) to look at its changes, the "Unstaged Changes" tab opens but it is empty. It reports :
The repository for path is not open in Atom.

I am using :
git-diff@1.3.6
atom 1.21.1 x64

[2017-10-27 01:34] rsese commented on #143
Thanks for the report!  I think this is a duplicate of https://github.com/atom/github/issues/1179 and has been fixed in https://github.com/atom/github/pull/1217.  The fix should be available in an upcoming release.

[2017-10-27 01:34] #143 closed

[2017-10-27 01:35] rsese commented on #143
Oh also, the problem was related to files that had a space in the filename or path to the filename - if that's not the case for you, please open a new issue in https://github.com/atom/github and fill out the issue template and we'll take a look.

[2017-11-16 11:26] ulidtko commented on #128
Came here to report exactly this. No updates huh? :smile:

[2017-11-16 20:59] rsese commented on #128
Yeah that's correct, no updates - the team hasn't been able to get to it with all the work on their plate.  If there was a well-written community pull request, I could ask the team to take a look though I still couldn't make any promises about it.

[2017-11-29 11:35] Kivylius commented on #122
This would make tracking changes since x-branch so much easier. +1 on this. Really need this in.

[2017-12-08 16:19] dmaz commented on #122
sublime's gitgutter has the ability to compare against any commit, branch or origin.  this is reflected through your whole project...   so in atom the file tree view, gutter decorations and minimaps should reflect changes since the new chosen commit.

Often when I start digging into a big multi file change I hold off committing just to keep my focus I the files that changed.  because of course, on

[2018-01-16 19:09] nathansobo commented on #128
@simurai, could you help out with this one? If I added a special class to the line number in addition to or instead of `.git-line-removed` such as `.git-line-previous-removed` would you be able to craft some CSS to add the decorations to the top of the line number instead of the bottom as is currently happening? Or do you have any other suggestions?

[2018-01-16 19:24] nathansobo commented on #128
@simurai I went ahead and opened a PR following that approach. Maybe you can give it a look?

[2018-01-18 16:36] #128 closed

[2018-01-18 17:49] maxbrunsfeld commented on #125
Fixed via https://github.com/atom/git-diff/pull/147 (we no longer diff large files).

[2018-01-18 17:49] #125 closed

[2018-01-31 19:05] lee-dohm opened #148 "Deletion indicators should go after line continuations"
_From @stuartpb on January 31, 2018 1:58_

### Description

"Deleted line" indicators in Atom are placed after the line number: if the lines are wrapped, these should go over the last line *that the line of text has been wrapped to*, instead of being placed after the *first* line (where the number ends).

![image](https://user-images.githubusercontent.com/572196/35601108-3147c6f4-05e6-11e8-883b-c2

[2018-02-22 15:11] augusto-moura40 commented on #60
The issue still exists.
In a file encoded with iso-8859-1, lines with accents (áãàâç) that are not modified are marked as modified.
I use GitKraken for git operations and it handles the file diff just fine.
![image](https://user-images.githubusercontent.com/22016397/36546119-518feff0-17c9-11e8-9a50-183f10883d75.png)

[2018-03-16 16:47] rsese commented on #56
This was fixed in https://github.com/atom/git-diff/pull/146.

[2018-03-16 16:47] #56 closed

[2018-04-12 09:20] diegolagoglez opened #149 "Gutter icon is badly drawn"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-04-17 16:20] bean5 opened #150 "Color-blind/visual impaired friendly (or configurable)"
I'd love to be able to modify the width and color of markers. They are small and hard for me to differentiate.

[2018-05-09 22:33] lukecfairchild commented on #55
I know this issue is ancient, but this really needs to be done. +1

[2018-05-14 10:55] 1c7 commented on #129
same here
![image](https://user-images.githubusercontent.com/1804755/39993400-51e8de3e-57a8-11e8-9b51-2a87d2cc12dc.png)
but for me, new line didn't have color green

![image](https://user-images.githubusercontent.com/1804755/39993431-6657766e-57a8-11e8-980a-6ca176c4fbf3.png)

[2018-05-14 11:04] 1c7 commented on #85
2018-5-14
remove git-diff from `~/.atom/packages` using `rm -rf git-diff` work for me
after that I switch back to Atom editor
![image](https://user-images.githubusercontent.com/1804755/39993764-91b09a42-57a9-11e8-88b5-1adf9c0289d9.png)
it work again, new line have green color indicate that

[2018-05-17 09:28] muuvmuuv opened #151 "No highlighting when git is not the home project"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-05-17 19:28] rsese commented on #151
Thanks for contributing!

We noticed that this is a duplicate of https://github.com/atom/git-diff/issues/55 (and as mentioned there, the larger issue is https://github.com/atom/atom/issues/2203) so you can subscribe there for updates if you'd like.

There's no fix or workaround for this behavior at the moment other than opening a Git project directly as the root of the project rather than opening

[2018-05-17 19:28] #151 closed

[2018-05-19 09:01] 1c7 commented on #129
I solve my problem in another Github issue: (can't find link now)
turn out just remove `git-diff` package
and problem solved (you don't need reinstall that package)(it work, at least in my case)

[2018-06-14 02:13] autn opened #152 "Not working on Ubuntu 18.04"
I'm using Ubuntu 18.04, installed the latest Atom version from store, and the Git Diff not working: don't show git branch and the changes.

[2018-06-14 06:59] thomasjo commented on #152
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grin

[2018-06-14 06:59] #152 closed

[2018-06-14 08:05] autn commented on #152
@thomasjo thanks for your correction!

[2018-07-01 21:00] starrychloe commented on #102
Yeah I was about to submit an issue for ignoring whitespace. When I go to check in files, I see bogus differences that should not exist. I think the Atom editor is mucking up lines I am not even editing. OK that's a separate problem, but I would like to ignore whitespace changes. For example

    git diff -b app/models/plan.rb

Shows exactly the differences that I made, and more specifically,

[2018-07-01 21:15] starrychloe opened #153 "Windows: Toggle Invisibles does not work when viewing differences."
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/issues?utf8=✓&q=is%3Aissue+user%3Aatom

### Description

Using CTRL+SHIFT+P+INVISIBLES to toggle showing non-printing characters doesn't work in the diff view when viewing differences for files. Oh yeah, it doesn't work if

[2018-07-10 10:34] the-j0k3r commented on #149
I would even say they would be drawn all left aligned in their own column this single line to double line triple line numbers they all align all over the place.

[2018-07-10 10:36] the-j0k3r commented on #116
Ill add a _me too_ here

[2018-07-18 20:44] rsese commented on #153
This issue was moved to atom/github#1590

[2018-07-18 20:45] #153 closed

[2018-09-06 22:45] maxbrunsfeld commented on #6
This functionality is now provided by Atoms' builtin `github` package.

[2018-09-06 22:45] #6 closed

[2018-09-06 22:46] maxbrunsfeld commented on #14
Sorry if this detracts from your workflow, but I don't think there's enough interest in this for the Atom team to prioritize it.

[2018-09-06 22:46] #14 closed

[2018-09-06 22:49] maxbrunsfeld commented on #16
A lot has changed since we've heard about this happening, so the issue  may have been fixed. If not, please feel free to open a new issue on [the main Atom repository](https://github.com/atom/atom), as we have [moved this code there](https://github.com/atom/atom/pull/17993). Thanks!

[2018-09-06 22:49] #16 closed

[2018-09-06 22:54] maxbrunsfeld commented on #28
This issue was moved to atom/atom#17994

[2018-09-06 22:54] #28 closed

[2018-09-06 22:55] maxbrunsfeld commented on #49
A lot has changed since we've heard about this happening, so the issue  may have been fixed. If not, please feel free to open a new issue on [the main Atom repository](https://github.com/atom/atom), as we have [moved this code there](https://github.com/atom/atom/pull/17993). Thanks!

[2018-09-06 22:55] #49 closed

[2018-09-06 22:59] maxbrunsfeld commented on #52
This does sound useful, but I don't think we're likely to prioritize work on this anytime soon. I'm closing out old issues because we've [moved](https://github.com/atom/atom/pull/17993) this package into the main Atom repository. FWIW, This *is* something that we would most likely accept a PR for, if you submitted one that met our contributing guidelines. Thanks!

[2018-09-06 22:59] #52 closed

[2018-09-06 23:00] maxbrunsfeld commented on #55
I'm not sure when we'll fix this, but you can subscribe to https://github.com/atom/atom/issues/2203 for updates on when we do. Sorry for the poor experience around this.

[2018-09-06 23:00] #55 closed

[2018-09-06 23:01] maxbrunsfeld commented on #57
Closing this one out since we haven't heard back in a while. If you are able to determine repro steps, please open an issue on the main Atom repository, since we are moving this package there. Thanks!

[2018-09-06 23:01] #57 closed

[2018-09-06 23:02] maxbrunsfeld commented on #60
I would like to fix this, but I don't think we're likely to prioritize work on this anytime soon. I'm closing out old issues because we've [moved](https://github.com/atom/atom/pull/17993) this package into the main Atom repository. FWIW, This *is* something that we would most likely accept a PR for, if you submitted one that met our contributing guidelines. Thanks!

[2018-09-06 23:02] #60 closed

[2018-09-06 23:03] maxbrunsfeld commented on #62
This does sound useful, but I don't think we're likely to prioritize work on this anytime soon. I'm closing out old issues because we've [moved](https://github.com/atom/atom/pull/17993) this package into the main Atom repository. FWIW, This *is* something that we would most likely accept a PR for, if you submitted one that met our contributing guidelines. Thanks!

[2018-09-06 23:03] #62 closed

[2018-09-06 23:03] #63 closed

[2018-09-06 23:05] maxbrunsfeld commented on #68
It doesn't seem like there's a ton of interest in this, and I don't think we're likely to prioritize work on this anytime soon. I'm closing out old issues because we've [moved](https://github.com/atom/atom/pull/17993) this package into the main Atom repository. Thanks!

[2018-09-06 23:05] #68 closed

[2018-09-06 23:06] maxbrunsfeld commented on #71
This issue was moved to atom/atom#17995

[2018-09-06 23:06] #71 closed

[2018-09-06 23:07] maxbrunsfeld commented on #72
Closing this in favor of https://github.com/atom/atom/issues/8168 since we're moving this package into the main Atom repository.

[2018-09-06 23:07] #72 closed

[2018-09-06 23:08] maxbrunsfeld commented on #74
I don't think we're likely to prioritize work on this anytime soon. I'm closing out old issues because we've [moved](https://github.com/atom/atom/pull/17993) this package into the main Atom repository. FWIW, This *may* be something that we would accept a PR for, if you submitted one that met our contributing guidelines. Thanks!

[2018-09-06 23:08] #74 closed

[2018-09-06 23:09] maxbrunsfeld commented on #77
This does sound useful, but I don't think we're likely to prioritize work on this anytime soon. I'm closing out old issues because we've [moved](https://github.com/atom/atom/pull/17993) this package into the main Atom repository. FWIW, This *is* something that we would accept a PR for, if you submitted one that met our contributing guidelines. Thanks!

[2018-09-06 23:09] #77 closed

[2018-09-07 17:16] maxbrunsfeld commented on #102
This issue was moved to atom/atom#17998

[2018-09-07 17:16] #102 closed

[2018-09-07 17:17] maxbrunsfeld commented on #100
I think this is a duplicate of https://github.com/atom/tree-view/issues/196

[2018-09-07 17:17] #100 closed

[2018-09-07 17:18] maxbrunsfeld commented on #98
A lot has changed since we've heard about this happening, so the issue  may have been fixed. If not, please feel free to open a new issue on [the main Atom repository](https://github.com/atom/atom), as we have [moved this code there](https://github.com/atom/atom/pull/17993). Thanks!

[2018-09-07 17:18] #98 closed

[2018-09-07 17:26] maxbrunsfeld commented on #126
A lot has changed since we've heard about this happening, so the issue  may have been fixed. If not, please feel free to open a new issue on [the main Atom repository](https://github.com/atom/atom), as we have [moved this code there](https://github.com/atom/atom/pull/17993). Thanks!

[2018-09-07 17:26] #126 closed

[2018-09-07 19:08] maxbrunsfeld commented on #122
This issue was moved to atom/atom#18000

[2018-09-07 19:08] #122 closed

[2018-09-07 19:10] maxbrunsfeld commented on #134
Closing this as a duplicate of https://github.com/atom/git-diff/issues/134.

[2018-09-07 19:10] #134 closed

[2018-09-07 19:13] maxbrunsfeld commented on #109
A lot has changed since we've heard about this happening, so the issue  may have been fixed. If not, please feel free to open a new issue on [the main Atom repository](https://github.com/atom/atom), as we have [moved this code there](https://github.com/atom/atom/pull/17993). Thanks!

[2018-09-07 19:13] #109 closed

[2018-09-07 19:17] maxbrunsfeld commented on #124
This issue was moved to atom/atom#18001

[2018-09-07 19:17] #124 closed

[2018-09-07 19:19] maxbrunsfeld commented on #91
A lot has changed since we've heard about this, and I can't reproduce it on mac os. So the issue  may have been fixed. If not, please feel free to open a new issue on [the main Atom repository](https://github.com/atom/atom), as we have [moved this code there](https://github.com/atom/atom/pull/17993). Thanks!

[2018-09-07 19:19] #91 closed

[2018-09-07 19:21] maxbrunsfeld commented on #78
Closing this out as per the discussion in https://github.com/atom/git-diff/pull/79.

[2018-09-07 19:21] #78 closed

[2018-09-07 19:34] maxbrunsfeld commented on #139
Currently we calculate these diffs using [libgit2](https://libgit2.org), which does not have this option AFAICT. This would become possible for us if we started computing them instead with the `git` binary, as the [github package](https://github.com/atom/github) does.

[2018-09-07 19:34] maxbrunsfeld commented on #139
This issue was moved to atom/atom#18002

[2018-09-07 19:34] #139 closed

[2018-09-07 19:36] maxbrunsfeld commented on #140
We'd probably get this behavior for free if we stopped computing diffs using [libgit2](https://libgit2.org/) and started using the `git` executable instead, like the [github package](https://github.com/atom/github) does.

[2018-09-07 19:36] maxbrunsfeld commented on #140
This issue was moved to atom/atom#18003

[2018-09-07 19:36] #140 closed

[2018-09-07 19:38] maxbrunsfeld commented on #150
Since UI themes can modify this and we haven't heard a ton of interest in it here, I'm going to close this one out.

[2018-09-07 19:38] #150 closed

[2018-09-07 19:39] maxbrunsfeld commented on #84
We'd probably get this behavior for free if we stopped computing diffs using [libgit2](https://libgit2.org/) and started using the `git` executable instead, like the [github package](https://github.com/atom/github) does.

[2018-09-07 19:39] maxbrunsfeld commented on #84
This issue was moved to atom/atom#18004

[2018-09-07 19:39] #84 closed

[2018-09-07 19:40] maxbrunsfeld commented on #148
This issue was moved to atom/atom#18005

[2018-09-07 19:40] #148 closed

[2018-09-07 19:40] maxbrunsfeld commented on #149
This issue was moved to atom/atom#18006

[2018-09-07 19:40] #149 closed